In [1]:
# regular imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
import math

# default pandas decimal number display format
pd.options.display.float_format = '{:20,.2f}'.format

import warnings
warnings.filterwarnings("ignore")

# Wrangling
from sklearn.model_selection import train_test_split, learning_curve
from sklearn.feature_selection import SelectKBest, RFE, f_regression, SequentialFeatureSelector
from sklearn.linear_model import LinearRegression, LassoLars, TweedieRegressor
from sklearn.cluster import KMeans
from scipy import stats
import sklearn.preprocessing
from sklearn.metrics import mean_squared_error
from scipy.stats import pearsonr, spearmanr, kruskal

import csv
import cc_acquire
import cc_prepare

In [2]:
df = pd.read_csv('merged_df_with_avg_price.csv',index_col=[0])
df.head()

,unit_id_institution,college_name,institution_control,state_post_code,zip_code,city,region_ipeds,title_IV_eligibility,pred_degree,pred_degree_0and4,...,deg_percent_awarded_health,deg_percent_awarded_business_management,deg_percent_awarded_history.1,non_deg_seeking,major_category,2017,2018,2019,Grand Total,avg_net_price
0,"100,654.00",Alabama A & M University,Public,AL,35762,Normal,5.00,1.00,3.00,3.00,...,0.00,0.16,0.00,153.00,Agriculture,"57,605.69","55,517.87","61,388.93","174,512.49","14,444.00"
1,"100,654.00",Alabama A & M University,Public,AL,35762,Normal,5.00,1.00,3.00,3.00,...,0.00,0.16,0.00,153.00,Agriculture,"57,605.69","55,517.87","61,388.93","174,512.49","14,444.00"
2,"100,858.00",Auburn University,Public,AL,36849,Auburn,5.00,1.00,3.00,3.00,...,0.06,0.23,0.01,481.00,Agriculture,"57,605.69","55,517.87","61,388.93","174,512.49","23,696.00"
3,"100,858.00",Auburn University,Public,AL,36849,Auburn,5.00,1.00,3.00,3.00,...,0.06,0.23,0.01,481.00,Agriculture,"57,605.69","55,517.87","61,388.93","174,512.49","23,696.00"
4,"101,541.00",Judson College,"Private, nonprofit",AL,36756,Marion,5.00,1.00,3.00,3.00,...,0.24,0.10,0.04,9.00,Agriculture,"57,605.69","55,517.87","61,388.93","174,512.49","16,619.00"

In [20]:
location = pd.read_csv('US Zip Codes from 2013 Government Data.csv',index_col=[0])
location['zip_code'] = location.index
location.head()

                     LAT                  LNG  zip_code
ZIP
601                18.18               -66.75       601
602                18.36               -67.18       602
603                18.46               -67.12       603
606                18.16               -66.93       606
610                18.30               -67.13       610

In [21]:
df.shape

(71422, 126)

In [22]:
location[['zip_code']] = location[['zip_code']].astype(str)

In [7]:
location.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33144 entries, 601 to 99929
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   LAT       33144 non-null  float64
 1   LNG       33144 non-null  float64
 2   zip_code  33144 non-null  object
dtypes: float64(2), object(1)
memory usage: 1.0+ MB

In [23]:
df = pd.merge(df, location, how = 'left', on = 'zip_code')
df.shape

(71422, 128)

In [ ]:
def add_location(df):
    location = pd.read_csv('zip_lat_long.csv',index_col=[0])
    location['zip_code'] = location.index
    location[['zip_code']] = location[['zip_code']].astype(str)
    df = pd.merge(df, location, how = 'left', on = 'zip_code')
    return df

In [24]:
df.LAT.isnull().sum()

50212

In [27]:
location[location.zip_code == '35762']

Empty DataFrame
Columns: [LAT, LNG, zip_code]
Index: []

In [28]:
df[df.zip_code == '35762']

,unit_id_institution,college_name,institution_control,state_post_code,zip_code,city,region_ipeds,title_IV_eligibility,pred_degree,pred_degree_0and4,...,deg_percent_awarded_history.1,non_deg_seeking,major_category,2017,2018,2019,Grand Total,avg_net_price,LAT,LNG
0,"100,654.00",Alabama A & M University,Public,AL,35762,Normal,5.00,1.00,3.00,3.00,...,0.00,153.00,Agriculture,"57,605.69","55,517.87","61,388.93","174,512.49","14,444.00",NaN,NaN
1,"100,654.00",Alabama A & M University,Public,AL,35762,Normal,5.00,1.00,3.00,3.00,...,0.00,153.00,Agriculture,"57,605.69","55,517.87","61,388.93","174,512.49","14,444.00",NaN,NaN
479,"100,654.00",Alabama A & M University,Public,AL,35762,Normal,5.00,1.00,3.00,3.00,...,0.00,153.00,Biology and Life Sciences,"48,851.91","50,004.54","53,463.29","152,319.74","14,444.00",NaN,NaN
480,"100,654.00",Alabama A & M University,Public,AL,35762,Normal,5.00,1.00,3.00,3.00,...,0.00,153.00,Biology and Life Sciences,"48,851.91","50,004.54","53,463.29","152,319.74","14,444.00",NaN,NaN
481,"100,654.00",Alabama A & M University,Public,AL,35762,Normal,5.00,1.00,3.00,3.00,...,0.00,153.00,Biology and Life Sciences,"48,851.91","50,004.54","53,463.29","152,319.74","14,444.00",NaN,NaN
482,"100,654.00",Alabama A & M University,Public,AL,35762,Normal,5.00,1.00,3.00,3.00,...,0.00,153.00,Biology and Life Sciences,"48,851.91","50,004.54","53,463.29","152,319.74","14,444.00",NaN,NaN
483,"100,654.00",Alabama A & M University,Public,AL,35762,Normal,5.00,1.00,3.00,3.00,...,0.00,153.00,Biology and Life Sciences,"48,851.91","50,004.54","53,463.29","152,319.74","14,444.00",NaN,NaN
5811,"100,654.00",Alabama A & M University,Public,AL,35762,Normal,5.00,1.00,3.00,3.00,...,0.00,153.00,Environment and Natural Resources,"53,669.96","53,782.21","55,281.43","162,733.60","14,444.00",NaN,NaN
8106,"100,654.00",Alabama A & M University,Public,AL,35762,Normal,5.00,1.00,3.00,3.00,...,0.00,153.00,"Public Affairs, Policy, and Social Work","43,168.30","43,126.21","45,354.10","131,648.61","14,444.00",NaN,NaN
8107,"100,654.00",Alabama A & M University,Public,AL,35762,Normal,5.00,1.00,3.00,3.00,...,0.00,153.00,"Public Affairs, Policy, and Social Work","43,168.30","43,126.21","45,354.10","131,648.61","14,444.00",NaN,NaN
8108,"100,654.00",Alabama A & M University,Public,AL,35762,Normal,5.00,1.00,3.00,3.00,...,0.00,153.00,"Public Affairs, Policy, and Social Work","43,168.30","43,126.21","45,354.10","131,648.61","14,444.00",NaN,NaN
12003,"100,654.00",Alabama A & M University,Public,AL,35762,Normal,5.00,1.00,3.00,3.00,...,0.00,153.00,Communication Technologies,"50,630.58","53,303.00","56,882.68","160,816.25","14,444.00",NaN,NaN
12701,"100,654.00",Alabama A & M University,Public,AL,35762,Normal,5.00,1.00,3.00,3.00,...,0.00,153.00,Computer and Information Sciences,"83,482.41","87,552.61","91,321.98","262,357.00","14,444.00",NaN,NaN
16789,"100,654.00",Alabama A & M University,Public,AL,35762,Normal,5.00,1.00,3.00,3.00,...,0.00,153.00,Education Administration and Teaching,"40,986.89","42,375.70","43,116.07","126,478.66","14,444.00",NaN,NaN
16790,"100,654.00",Alabama A & M University,Public,AL,35762,Normal,5.00,1.00,3.00,3.00,...,0.00,153.00,Education Administration and Teaching,"40,986.89","42,375.70","43,116.07","126,478.66","14,444.00",NaN,NaN
16791,"100,654.00",Alabama A & M University,Public,AL,35762,Normal,5.00,1.00,3.00,3.00,...,0.00,153.00,Education Administration and Teaching,"40,986.89","42,375.70","43,116.07","126,478.66","14,444.00",NaN,NaN
20478,"100,654.00",Alabama A & M University,Public,AL,35762,Normal,5.00,1.00,3.00,3.00,...,0.00,153.00,Engineering,"86,539.67","88,357.25","92,494.18","267,391.10","14,444.00",NaN,NaN
20479,"100,654.00",Alabama A & M University,Public,AL,35762,Normal,5.00,1.00,3.00,3.00,...,0.00,153.00,Engineering,"86,539.67","88,357.25","92,494.18","267,391.10","14,444.00",NaN,NaN
20480,"100,654.00",Alabama A & M University,Public,AL,35762,Normal,5.00,1.00,3.00,3.00,...,0.00,153.00,Engineering,"86,539.67","88,357.25","92,494.18","267,391.10","14,444.00",NaN,NaN
22742,"100,654.00",Alabama A & M University,Public,AL,35762,Normal,5.00,1.00,3.00,3.00,...,0.00,153.00,Engineering Technologies,"76,409.06","82,113.75","80,312.52","238,835.33","14,444.00",NaN,NaN
22743,"100,654.00",Alabama A & M University,Public,AL,35762,Normal,5.00,1.00,3.00,3.00,...,0.00,153.00,Engineering Technologies,"76,409.06","82,113.75","80,312.52","238,835.33","14,444.00",NaN,NaN
22744,"100,654.00",Alabama A & M University,Public,AL,35762,Normal,5.00,1.00,3.00,3.00,...,0.00,153.00,Engineering Technologies,"76,409.06","82,113.75","80,312.52","238,835.33","14,444.00",NaN,NaN
23242,"100,654.00",Alabama A & M University,Public,AL,35762,Normal,5.00,1.00,3.00,3.00,...,0.00,153.00,Family and Consumer Sciences,"43,092.12","41,403.79","43,822.54","128,318.45","14,444.00",NaN,NaN
23708,"100,654.00",Alabama A & M University,Public,AL,35762,Normal,5.00,1.00,3.00,3.00,...,0.00,153.00,"English Language, Literature, and Composition","54,382.32","57,100.39","58,348.57","169,831.29","14,444.00",NaN,NaN
26034,"100,654.00",Alabama A & M University,Public,AL,35762,Normal,5.00,1.00,3.00,3.00,...,0.00,153.00,Liberal Arts and Humanities,"53,878.33","56,419.95","55,781.48","166,079.75","14,444.00",NaN,NaN
27468,"100,654.00",Alabama A & M University,Public,AL,35762,Normal,5.00,1.00,3.00,3.00,...,0.00,153.00,Mathematics and Statistics,"72,585.53","72,475.08","79,448.61","224,509.21","14,444.00",NaN,NaN
27469,"100,654.00",Alabama A & M University,Public,AL,35762,Normal,5.00,1.00,3.00,3.00,...,0.00,153.00,Mathematics and Statistics,"72,585.53","72,475.08","79,448.61","224,509.21","14,444.00",NaN,NaN
30282,"100,654.00",Alabama A & M University,Public,AL,35762,Normal,5.00,1.00,3.00,3.00,...,0.00,153.00,"Physical Fitness, Parks, Recreation, and Leisure","46,524.62","47,221.76","49,787.21","143,533.58","14,444.00",NaN,NaN
31688,"100,654.00",Alabama A & M University,Public,AL,35762,Normal,5.00,1.00,3.00,3.00,...,0.00,153.00,Social Sciences,"69,607.03","70,888.92","74,486.24","214,982.18","14,444.00",NaN,NaN
31689,"100,654.00",Alabama A & M University,Public,AL,35762,Normal,5.00,1.00,3.00,3.00,...,0.00,153.00,Social Sciences,"69,607.03","70,888.92","74,486.24","214,982.18","14,444.00",NaN,NaN
36245,"100,654.00",Alabama A & M University,Public,AL,35762,Normal,5.00,1.00,3.00,3.00,...,0.00,153.00,Criminal Justice and Fire Protection,"55,074.82","55,066.12","58,901.82","169,042.77","14,444.00",NaN,NaN
38277,"100,654.00",Alabama A & M University,Public,AL,35762,Normal,5.00,1.00,3.00,3.00,...,0.00,153.00,Fine Arts,"49,080.49","50,773.49","53,039.55","152,893.52","14,444.00",NaN,NaN
38278,"100,654.00",Alabama A & M University,Public,AL,35762,Normal,5.00,1.00,3.00,3.00,...,0.00,153.00,Fine Arts,"49,080.49","50,773.49","53,039.55","152,893.52","14,444.00",NaN,NaN
44050,"100,654.00",Alabama A & M University,Public,AL,35762,Normal,5.00,1.00,3.00,3.00,...,0.00,153.00,Business,"74,813.94","76,724.07","79,608.39","231,146.40","14,444.00",NaN,NaN
44051,"100,654.00",Alabama A & M University,Public,AL,35762,Normal,5.00,1.00,3.00,3.00,...,0.00,153.00,Business,"74,813.94","76,724.07","79,608.39","231,146.40","14,444.00",NaN,NaN
44052,"100,654.00",Alabama A & M University,Public,AL,35762,Normal,5.00,1.00,3.00,3.00,...,0.00,153.00,Business,"74,813.94","76,724.07","79,608.39","231,146.40","14,444.00",NaN,NaN
44053,"100,654.00",Alabama A & M University,Public,AL,35762,Normal,5.00,1.00,3.00,3.00,...,0.00,153.00,Business,"74,813.94","76,724.07","79,608.39","231,146.40","14,444.00",NaN,NaN
44054,"100,654.00",Alabama A & M University,Public,AL,35762,Normal,5.00,1.00,3.00,3.00,...,0.00,153.00,Business,"74,813.94","76,724.07","79,608.39","231,146.40","14,444.00",NaN,NaN

## merge with state and city

In [5]:
a = pd.read_csv('worldcities.csv')
a.head()

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0,Tokyo,Tokyo,35.68,139.77,Japan,JP,JPN,TÅkyÅ,primary,"39,105,000.00",1392685764
1,Jakarta,Jakarta,-6.21,106.85,Indonesia,ID,IDN,Jakarta,primary,"35,362,000.00",1360771077
2,Delhi,Delhi,28.67,77.22,India,IN,IND,Delhi,admin,"31,870,000.00",1356872604
3,Manila,Manila,14.60,120.98,Philippines,PH,PHL,Manila,primary,"23,971,000.00",1608618140
4,SÃ£o Paulo,Sao Paulo,-23.55,-46.63,Brazil,BR,BRA,SÃ£o Paulo,admin,"22,495,000.00",1076532519

In [6]:
us = a[a.iso2 == 'US']
us.shape

(7824, 11)

In [7]:
us.head()

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
12,New York,New York,40.69,-73.92,United States,US,USA,New York,NaN,"18,713,220.00",1840034016
27,Los Angeles,Los Angeles,34.11,-118.41,United States,US,USA,California,NaN,"12,750,807.00",1840020491
51,Chicago,Chicago,41.84,-87.69,United States,US,USA,Illinois,NaN,"8,604,203.00",1840000494
91,Miami,Miami,25.78,-80.21,United States,US,USA,Florida,NaN,"6,445,545.00",1840015149
108,Dallas,Dallas,32.79,-96.77,United States,US,USA,Texas,NaN,"5,743,938.00",1840019440

In [8]:
us = us[['city','lat','lng','admin_name']]
us = us.rename(columns={"admin_name": "State"})
us.head()

            city                  lat                  lng       State
12      New York                40.69               -73.92    New York
27   Los Angeles                34.11              -118.41  California
51       Chicago                41.84               -87.69    Illinois
91         Miami                25.78               -80.21     Florida
108       Dallas                32.79               -96.77       Texas

In [10]:
state = pd.read_csv('csvData.csv')
state = state[['State','Code']]
state.head()

        State Code
0     Alabama   AL
1      Alaska   AK
2     Arizona   AZ
3    Arkansas   AR
4  California   CA

In [24]:
us.shape

(7824, 4)

In [11]:
us = pd.merge(us, state ,how = 'inner', on = 'State')
us.shape

(7824, 5)

In [12]:
us = us.rename(columns={"Code": "state_post_code"})
us = us[['state_post_code','city','lat','lng']]
us.head()

  state_post_code       city                  lat                  lng
0              NY   New York                40.69               -73.92
1              NY   Brooklyn                40.65               -73.95
2              NY     Queens                40.75               -73.80
3              NY  Manhattan                40.78               -73.97
4              NY      Bronx                40.85               -73.87

In [32]:
us.to_csv('location_info_by_state&city')

## restart merge

In [33]:
df = pd.read_csv('merged_df_with_avg_price.csv',index_col=[0])
df.head()

,unit_id_institution,college_name,institution_control,state_post_code,zip_code,city,region_ipeds,title_IV_eligibility,pred_degree,pred_degree_0and4,...,deg_percent_awarded_health,deg_percent_awarded_business_management,deg_percent_awarded_history.1,non_deg_seeking,major_category,2017,2018,2019,Grand Total,avg_net_price
0,"100,654.00",Alabama A & M University,Public,AL,35762,Normal,5.00,1.00,3.00,3.00,...,0.00,0.16,0.00,153.00,Agriculture,"57,605.69","55,517.87","61,388.93","174,512.49","14,444.00"
1,"100,654.00",Alabama A & M University,Public,AL,35762,Normal,5.00,1.00,3.00,3.00,...,0.00,0.16,0.00,153.00,Agriculture,"57,605.69","55,517.87","61,388.93","174,512.49","14,444.00"
2,"100,858.00",Auburn University,Public,AL,36849,Auburn,5.00,1.00,3.00,3.00,...,0.06,0.23,0.01,481.00,Agriculture,"57,605.69","55,517.87","61,388.93","174,512.49","23,696.00"
3,"100,858.00",Auburn University,Public,AL,36849,Auburn,5.00,1.00,3.00,3.00,...,0.06,0.23,0.01,481.00,Agriculture,"57,605.69","55,517.87","61,388.93","174,512.49","23,696.00"
4,"101,541.00",Judson College,"Private, nonprofit",AL,36756,Marion,5.00,1.00,3.00,3.00,...,0.24,0.10,0.04,9.00,Agriculture,"57,605.69","55,517.87","61,388.93","174,512.49","16,619.00"

In [13]:
df['mark'] = 1
df.head()

,unit_id_institution,college_name,institution_control,state_post_code,zip_code,city,region_ipeds,title_IV_eligibility,pred_degree,pred_degree_0and4,...,deg_percent_awarded_business_management,deg_percent_awarded_history.1,non_deg_seeking,major_category,2017,2018,2019,Grand Total,avg_net_price,mark
0,"100,654.00",Alabama A & M University,Public,AL,35762,Normal,5.00,1.00,3.00,3.00,...,0.16,0.00,153.00,Agriculture,"57,605.69","55,517.87","61,388.93","174,512.49","14,444.00",1
1,"100,654.00",Alabama A & M University,Public,AL,35762,Normal,5.00,1.00,3.00,3.00,...,0.16,0.00,153.00,Agriculture,"57,605.69","55,517.87","61,388.93","174,512.49","14,444.00",1
2,"100,858.00",Auburn University,Public,AL,36849,Auburn,5.00,1.00,3.00,3.00,...,0.23,0.01,481.00,Agriculture,"57,605.69","55,517.87","61,388.93","174,512.49","23,696.00",1
3,"100,858.00",Auburn University,Public,AL,36849,Auburn,5.00,1.00,3.00,3.00,...,0.23,0.01,481.00,Agriculture,"57,605.69","55,517.87","61,388.93","174,512.49","23,696.00",1
4,"101,541.00",Judson College,"Private, nonprofit",AL,36756,Marion,5.00,1.00,3.00,3.00,...,0.10,0.04,9.00,Agriculture,"57,605.69","55,517.87","61,388.93","174,512.49","16,619.00",1

In [15]:
df.shape

(71422, 126)

In [16]:
df.tail(50)

,unit_id_institution,college_name,institution_control,state_post_code,zip_code,city,region_ipeds,title_IV_eligibility,pred_degree,pred_degree_0and4,...,deg_percent_awarded_business_management,deg_percent_awarded_history.1,non_deg_seeking,major_category,2017,2018,2019,Grand Total,avg_net_price,mark
71372,"180,522.00",Montana State University-Northern,Public,MT,59501,Havre,7.00,1.00,3.00,3.00,...,0.09,0.00,61.00,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70","13,024.00",1
71373,"181,002.00",Creighton University,"Private, nonprofit",NE,68178,Omaha,4.00,1.00,3.00,3.00,...,0.25,0.01,41.00,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70","29,994.00",1
71374,"184,056.00",Lincoln Technical Institute-Iselin,"Private, for-profit",NJ,08830,Iselin,2.00,1.00,1.00,1.00,...,0.00,0.00,NaN,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70","23,158.00",1
71375,"188,340.00",Vaughn College of Aeronautics and Technology,"Private, nonprofit",NY,11369,Flushing,2.00,1.00,2.00,2.00,...,0.01,0.00,2.00,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70","39,418.00",1
71376,"196,051.00",SUNY Morrisville,Public,NY,13408,Morrisville,2.00,1.00,2.00,2.00,...,0.09,0.00,228.00,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70","17,469.00",1
71377,"196,680.00",Excelsior College,"Private, nonprofit",NY,12203-5159,Albany,2.00,1.00,3.00,3.00,...,0.15,0.01,NaN,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70",0.00,1
71378,"196,680.00",Excelsior College,"Private, nonprofit",NY,12203-5159,Albany,2.00,1.00,3.00,3.00,...,0.15,0.01,NaN,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70",0.00,1
71379,"197,869.00",Appalachian State University,Public,NC,28608,Boone,5.00,1.00,3.00,3.00,...,0.20,0.01,116.00,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70","14,018.00",1
71380,"199,856.00",Wake Technical Community College,Public,NC,27603-5696,Raleigh,5.00,1.00,1.00,1.00,...,0.29,0.00,"2,327.00",Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70","7,429.00",1
71381,"207,847.00",Southeastern Oklahoma State University,Public,OK,74701-3347,Durant,6.00,1.00,3.00,3.00,...,0.15,0.02,184.00,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70","8,508.00",1
71382,"207,971.00",University of Tulsa,"Private, nonprofit",OK,74104-3189,Tulsa,6.00,1.00,3.00,3.00,...,0.21,0.01,21.00,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70","22,817.00",1
71383,"221,661.00",Southern Adventist University,"Private, nonprofit",TN,37315-0370,Collegedale,5.00,1.00,3.00,3.00,...,0.10,0.03,113.00,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70","25,016.00",1
71384,"230,728.00",Utah State University,Public,UT,84322-1400,Logan,7.00,1.00,3.00,3.00,...,0.10,0.01,"3,222.00",Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70","13,150.00",1
71385,"231,165.00",Vermont Technical College,Public,VT,05061,Randolph,1.00,1.00,2.00,2.00,...,0.08,0.00,282.00,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70","20,519.00",1
71386,"234,827.00",Central Washington University,Public,WA,98926,Ellensburg,8.00,1.00,3.00,3.00,...,0.25,0.01,255.00,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70","15,340.00",1
71387,"234,845.00",Centralia College,Public,WA,98531-4099,Centralia,8.00,1.00,1.00,1.00,...,0.04,0.00,"1,319.00",Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70","6,565.00",1
71388,"236,896.00",Walla Walla University,"Private, nonprofit",WA,99324-1198,College Place,8.00,1.00,3.00,3.00,...,0.18,0.02,39.00,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70","21,798.00",1
71389,"237,640.00",Ohio Valley University,"Private, nonprofit",WV,26105-8000,Vienna,5.00,1.00,3.00,3.00,...,0.32,0.01,95.00,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70","17,462.00",1
71390,"242,626.00",Inter American University of Puerto Rico-Aguad...,"Private, nonprofit",PR,00603,Aguadilla,9.00,1.00,3.00,3.00,...,0.13,0.00,45.00,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70","7,587.00",1
71391,"242,680.00",Inter American University of Puerto Rico-Fajardo,"Private, nonprofit",PR,00738-7003,Fajardo,9.00,1.00,3.00,3.00,...,0.18,0.00,9.00,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70","8,864.00",1
71392,"242,699.00",Inter American University of Puerto Rico-Guayama,"Private, nonprofit",PR,00784,Guayama,9.00,1.00,3.00,3.00,...,0.15,0.00,20.00,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70","8,566.00",1
71393,"242,705.00",Inter American University of Puerto Rico-Bayamon,"Private, nonprofit",PR,00957-6257,Bayamon,9.00,1.00,3.00,3.00,...,0.18,0.00,19.00,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70","8,490.00",1
71394,"366,252.00",Pennsylvania College of Technology,Public,PA,17701-5799,Williamsport,2.00,1.00,2.00,2.00,...,0.07,0.00,33.00,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70","23,435.00",1
71395,"366,252.00",Pennsylvania College of Technology,Public,PA,17701-5799,Williamsport,2.00,1.00,2.00,2.00,...,0.07,0.00,33.00,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70","23,435.00",1
71396,"366,252.00",Pennsylvania College of Technology,Public,PA,17701-5799,Williamsport,2.00,1.00,2.00,2.00,...,0.07,0.00,33.00,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70","23,435.00",1
71397,"376,385.00",Universal Technology College of Puerto Rico,"Private, nonprofit",PR,00603,Aguadilla,9.00,1.00,1.00,1.00,...,0.00,0.00,NaN,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70","4,710.00",1
71398,"426,314.00",Embry-Riddle Aeronautical University-Worldwide,"Private, nonprofit",FL,32114-3900,Daytona Beach,5.00,2.00,3.00,3.00,...,0.29,0.00,212.00,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70","18,688.00",1
71399,"482,158.00",Middle Georgia State University,Public,GA,31206,Macon,5.00,1.00,3.00,3.00,...,0.12,0.01,653.00,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70","9,794.00",1
71400,NaN,Saint Mary's University,Foreign,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70",0.00,1
71401,NaN,University of Warwick,Foreign,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70",0.00,1
71402,NaN,University of Melbourne,Foreign,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70",0.00,1
71403,NaN,University of Prince Edward Island,Foreign,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70",0.00,1
71404,NaN,Macquarie University,Foreign,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70",0.00,1
71405,NaN,University of Auckland (The),Foreign,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70",0.00,1
71406,NaN,University of Otago,Foreign,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70",0.00,1
71407,NaN,La Trobe University,Foreign,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70",0.00,1
71408,"130,493.00",Southern Connecticut State University,Public,CT,06515-1355,New Haven,1.00,1.00,3.00,3.00,...,0.12,0.02,232.00,Library Science,"37,639.57","39,932.26","31,651.85","109,223.68","19,291.00",1
71409,"154,022.00",Ashford University,"Private, for-profit",CA,92123,San Diego,8.00,1.00,3.00,3.00,...,0.40,0.01,412.00,Library Science,"37,639.57","39,932.26","31,651.85","109,223.68","18,907.00",1
71410,"159,391.00",Louisiana State University and Agricultural & ...,Public,LA,70803-2750,Baton Rouge,5.00,1.00,3.00,3.00,...,0.23,0.01,"1,765.00",Library Science,"37,639.57","39,932.26","31,651.85","109,223.68","15,428.00",1
71411,"161,217.00",University of Maine at Augusta,Public,ME,04330-9410,Augusta,1.00,1.00,3.00,3.00,...,0.12,0.00,898.00,Library Science,"37,639.57","39,932.26","31,651.85","109,223.68","10,917.00",1
71412,"176,372.00",University of Southern Mississippi,Public,MS,39406-0001,Hattiesburg,5.00,1.00,3.00,3.00,...,0.19,0.01,86.00,Library Science,"37,639.57","39,932.26","31,651.85","109,223.68","14,126.00",1
71413,"180,948.00",Chadron State College,Public,NE,69337-2690,Chadron,4.00,1.00,3.00,3.00,...,0.25,0.00,170.00,Library Science,"37,639.57","39,932.26","31,651.85","109,223.68","14,234.00",1
71414,"181,394.00",University of Nebraska at Omaha,Public,NE,68182-0225,Omaha,4.00,1.00,3.00,3.00,...,0.20,0.01,200.00,Library Science,"37,639.57","39,932.26","31,651.85","109,223.68","13,511.00",1
71415,"192,448.00",Long Island University,"Private, nonprofit",NY,11548-1327,Brookville,2.00,1.00,3.00,3.00,...,0.13,0.00,"3,595.00",Library Science,"37,639.57","39,932.26","31,651.85","109,223.68","24,832.00",1
71416,"211,088.00",Arcadia University,"Private, nonprofit",PA,19038-3295,Glenside,2.00,1.00,3.00,3.00,...,0.16,0.02,157.00,Library Science,"37,639.57","39,932.26","31,651.85","109,223.68","24,659.00",1
71417,"211,644.00",Clarion University of Pennsylvania,Public,PA,16214,Clarion,2.00,1.00,3.00,3.00,...,0.14,0.01,88.00,Library Science,"37,639.57","39,932.26","31,651.85","109,223.68","19,836.00",1
71418,"213,349.00",Kutztown University of Pennsylvania,Public,PA,19530-0730,Kutztown,2.00,1.00,3.00,3.00,...,0.18,0.01,37.00,Library Science,"37,639.57","39,932.26","31,651.85","109,223.68","22,282.00",1
71419,"230,816.00",Bennington College,"Private, nonprofit",VT,05201-6003,Bennington,1.00,1.00,3.00,3.00,...,0.01,0.01,15.00,Library Science,"37,639.57","39,932.26","31,651.85","109,223.68","29,386.00",1
71420,"232,025.00",Emory & Henry College,"Private, nonprofit",VA,24327-0947,Emory,5.00,1.00,3.00,3.00,...,0.13,0.05,15.00,Library Science,"37,639.57","39,932.26","31,651.85","109,223.68","18,182.00",1
71421,"236,948.00",University of Washington-Seattle Campus,Public,WA,98195-4550,Seattle,8.00,1.00,3.00,3.00,...,0.09,0.01,"1,194.00",Library Science,"37,639.57","39,932.26","31,651.85","109,223.68","12,566.00",1

In [17]:
df1.tail(50)

,unit_id_institution,college_name,institution_control,state_post_code,zip_code,city,region_ipeds,title_IV_eligibility,pred_degree,pred_degree_0and4,...,non_deg_seeking,major_category,2017,2018,2019,Grand Total,avg_net_price,mark,lat,lng
71627,"180,522.00",Montana State University-Northern,Public,MT,59501,Havre,7.00,1.00,3.00,3.00,...,61.00,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70","13,024.00",1,48.54,-109.68
71628,"181,002.00",Creighton University,"Private, nonprofit",NE,68178,Omaha,4.00,1.00,3.00,3.00,...,41.00,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70","29,994.00",1,41.26,-96.05
71629,"184,056.00",Lincoln Technical Institute-Iselin,"Private, for-profit",NJ,08830,Iselin,2.00,1.00,1.00,1.00,...,NaN,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70","23,158.00",1,40.57,-74.32
71630,"188,340.00",Vaughn College of Aeronautics and Technology,"Private, nonprofit",NY,11369,Flushing,2.00,1.00,2.00,2.00,...,2.00,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70","39,418.00",1,NaN,NaN
71631,"196,051.00",SUNY Morrisville,Public,NY,13408,Morrisville,2.00,1.00,2.00,2.00,...,228.00,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70","17,469.00",1,NaN,NaN
71632,"196,680.00",Excelsior College,"Private, nonprofit",NY,12203-5159,Albany,2.00,1.00,3.00,3.00,...,NaN,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70",0.00,1,42.67,-73.80
71633,"196,680.00",Excelsior College,"Private, nonprofit",NY,12203-5159,Albany,2.00,1.00,3.00,3.00,...,NaN,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70",0.00,1,42.67,-73.80
71634,"197,869.00",Appalachian State University,Public,NC,28608,Boone,5.00,1.00,3.00,3.00,...,116.00,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70","14,018.00",1,36.21,-81.67
71635,"199,856.00",Wake Technical Community College,Public,NC,27603-5696,Raleigh,5.00,1.00,1.00,1.00,...,"2,327.00",Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70","7,429.00",1,35.83,-78.64
71636,"207,847.00",Southeastern Oklahoma State University,Public,OK,74701-3347,Durant,6.00,1.00,3.00,3.00,...,184.00,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70","8,508.00",1,34.00,-96.39
71637,"207,971.00",University of Tulsa,"Private, nonprofit",OK,74104-3189,Tulsa,6.00,1.00,3.00,3.00,...,21.00,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70","22,817.00",1,36.13,-95.90
71638,"221,661.00",Southern Adventist University,"Private, nonprofit",TN,37315-0370,Collegedale,5.00,1.00,3.00,3.00,...,113.00,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70","25,016.00",1,35.05,-85.05
71639,"230,728.00",Utah State University,Public,UT,84322-1400,Logan,7.00,1.00,3.00,3.00,...,"3,222.00",Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70","13,150.00",1,41.74,-111.84
71640,"231,165.00",Vermont Technical College,Public,VT,05061,Randolph,1.00,1.00,2.00,2.00,...,282.00,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70","20,519.00",1,NaN,NaN
71641,"234,827.00",Central Washington University,Public,WA,98926,Ellensburg,8.00,1.00,3.00,3.00,...,255.00,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70","15,340.00",1,47.00,-120.55
71642,"234,845.00",Centralia College,Public,WA,98531-4099,Centralia,8.00,1.00,1.00,1.00,...,"1,319.00",Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70","6,565.00",1,46.72,-122.97
71643,"236,896.00",Walla Walla University,"Private, nonprofit",WA,99324-1198,College Place,8.00,1.00,3.00,3.00,...,39.00,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70","21,798.00",1,46.04,-118.39
71644,"237,640.00",Ohio Valley University,"Private, nonprofit",WV,26105-8000,Vienna,5.00,1.00,3.00,3.00,...,95.00,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70","17,462.00",1,39.32,-81.54
71645,"242,626.00",Inter American University of Puerto Rico-Aguad...,"Private, nonprofit",PR,00603,Aguadilla,9.00,1.00,3.00,3.00,...,45.00,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70","7,587.00",1,NaN,NaN
71646,"242,680.00",Inter American University of Puerto Rico-Fajardo,"Private, nonprofit",PR,00738-7003,Fajardo,9.00,1.00,3.00,3.00,...,9.00,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70","8,864.00",1,NaN,NaN
71647,"242,699.00",Inter American University of Puerto Rico-Guayama,"Private, nonprofit",PR,00784,Guayama,9.00,1.00,3.00,3.00,...,20.00,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70","8,566.00",1,NaN,NaN
71648,"242,705.00",Inter American University of Puerto Rico-Bayamon,"Private, nonprofit",PR,00957-6257,Bayamon,9.00,1.00,3.00,3.00,...,19.00,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70","8,490.00",1,NaN,NaN
71649,"366,252.00",Pennsylvania College of Technology,Public,PA,17701-5799,Williamsport,2.00,1.00,2.00,2.00,...,33.00,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70","23,435.00",1,41.24,-77.04
71650,"366,252.00",Pennsylvania College of Technology,Public,PA,17701-5799,Williamsport,2.00,1.00,2.00,2.00,...,33.00,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70","23,435.00",1,41.24,-77.04
71651,"366,252.00",Pennsylvania College of Technology,Public,PA,17701-5799,Williamsport,2.00,1.00,2.00,2.00,...,33.00,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70","23,435.00",1,41.24,-77.04
71652,"376,385.00",Universal Technology College of Puerto Rico,"Private, nonprofit",PR,00603,Aguadilla,9.00,1.00,1.00,1.00,...,NaN,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70","4,710.00",1,NaN,NaN
71653,"426,314.00",Embry-Riddle Aeronautical University-Worldwide,"Private, nonprofit",FL,32114-3900,Daytona Beach,5.00,2.00,3.00,3.00,...,212.00,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70","18,688.00",1,29.20,-81.10
71654,"482,158.00",Middle Georgia State University,Public,GA,31206,Macon,5.00,1.00,3.00,3.00,...,653.00,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70","9,794.00",1,32.81,-83.70
71655,NaN,Saint Mary's University,Foreign,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70",0.00,1,NaN,NaN
71656,NaN,University of Warwick,Foreign,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70",0.00,1,NaN,NaN
71657,NaN,University of Melbourne,Foreign,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70",0.00,1,NaN,NaN
71658,NaN,University of Prince Edward Island,Foreign,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70",0.00,1,NaN,NaN
71659,NaN,Macquarie University,Foreign,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70",0.00,1,NaN,NaN
71660,NaN,University of Auckland (The),Foreign,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70",0.00,1,NaN,NaN
71661,NaN,University of Otago,Foreign,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70",0.00,1,NaN,NaN
71662,NaN,La Trobe University,Foreign,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Electrical and Mechanic Repairs and Technologies,"55,800.00","53,429.09","68,582.61","177,811.70",0.00,1,NaN,NaN
71663,"130,493.00",Southern Connecticut State University,Public,CT,06515-1355,New Haven,1.00,1.00,3.00,3.00,...,232.00,Library Science,"37,639.57","39,932.26","31,651.85","109,223.68","19,291.00",1,41.31,-72.92
71664,"154,022.00",Ashford University,"Private, for-profit",CA,92123,San Diego,8.00,1.00,3.00,3.00,...,412.00,Library Science,"37,639.57","39,932.26","31,651.85","109,223.68","18,907.00",1,32.83,-117.12
71665,"159,391.00",Louisiana State University and Agricultural & ...,Public,LA,70803-2750,Baton Rouge,5.00,1.00,3.00,3.00,...,"1,765.00",Library Science,"37,639.57","39,932.26","31,651.85","109,223.68","15,428.00",1,30.44,-91.13
71666,"161,217.00",University of Maine at Augusta,Public,ME,04330-9410,Augusta,1.00,1.00,3.00,3.00,...,898.00,Library Science,"37,639.57","39,932.26","31,651.85","109,223.68","10,917.00",1,44.33,-69.73
71667,"176,372.00",University of Southern Mississippi,Public,MS,39406-0001,Hattiesburg,5.00,1.00,3.00,3.00,...,86.00,Library Science,"37,639.57","39,932.26","31,651.85","109,223.68","14,126.00",1,31.31,-89.32
71668,"180,948.00",Chadron State College,Public,NE,69337-2690,Chadron,4.00,1.00,3.00,3.00,...,170.00,Library Science,"37,639.57","39,932.26","31,651.85","109,223.68","14,234.00",1,42.83,-103.00
71669,"181,394.00",University of Nebraska at Omaha,Public,NE,68182-0225,Omaha,4.00,1.00,3.00,3.00,...,200.00,Library Science,"37,639.57","39,932.26","31,651.85","109,223.68","13,511.00",1,41.26,-96.05
71670,"192,448.00",Long Island University,"Private, nonprofit",NY,11548-1327,Brookville,2.00,1.00,3.00,3.00,...,"3,595.00",Library Science,"37,639.57","39,932.26","31,651.85","109,223.68","24,832.00",1,NaN,NaN
71671,"211,088.00",Arcadia University,"Private, nonprofit",PA,19038-3295,Glenside,2.00,1.00,3.00,3.00,...,157.00,Library Science,"37,639.57","39,932.26","31,651.85","109,223.68","24,659.00",1,40.10,-75.15
71672,"211,644.00",Clarion University of Pennsylvania,Public,PA,16214,Clarion,2.00,1.00,3.00,3.00,...,88.00,Library Science,"37,639.57","39,932.26","31,651.85","109,223.68","19,836.00",1,41.21,-79.38
71673,"213,349.00",Kutztown University of Pennsylvania,Public,PA,19530-0730,Kutztown,2.00,1.00,3.00,3.00,...,37.00,Library Science,"37,639.57","39,932.26","31,651.85","109,223.68","22,282.00",1,40.52,-75.78
71674,"230,816.00",Bennington College,"Private, nonprofit",VT,05201-6003,Bennington,1.00,1.00,3.00,3.00,...,15.00,Library Science,"37,639.57","39,932.26","31,651.85","109,223.68","29,386.00",1,42.89,-73.21
71675,"232,025.00",Emory & Henry College,"Private, nonprofit",VA,24327-0947,Emory,5.00,1.00,3.00,3.00,...,15.00,Library Science,"37,639.57","39,932.26","31,651.85","109,223.68","18,182.00",1,NaN,NaN
71676,"236,948.00",University of Washington-Seattle Campus,Public,WA,98195-4550,Seattle,8.00,1.00,3.00,3.00,...,"1,194.00",Library Science,"37,639.57","39,932.26","31,651.85","109,223.68","12,566.00",1,47.62,-122.32

In [14]:
df1 = pd.merge(df, us, how = 'left', on = ('state_post_code','city'))
df1.mark.value_counts()

1    71677
Name: mark, dtype: int64

In [18]:
df1.lat.isnull().sum()

11335

In [67]:
# check null value
city_null = df[df.city.isnull()]

In [68]:
city_null.institution_control.value_counts()

Foreign                1741
Private, for-profit     777
Private, nonprofit      352
Public                    6
Name: institution_control, dtype: int64

In [72]:
city_null[city_null.institution_control == 'Foreign'].unit_id_institution.value_counts()

Series([], Name: unit_id_institution, dtype: int64)

In [70]:
city_null.avg_net_price.sum()

0.0

In [75]:
df[df.institution_control == 'Foreign'].value_counts()

Series([], dtype: int64)

In [78]:
df[df.unit_id_institution == '0']

Empty DataFrame
Columns: [unit_id_institution, college_name, institution_control, state_post_code, zip_code, city, region_ipeds, title_IV_eligibility, pred_degree, pred_degree_0and4, degree_name, degree_code, major_code, major_name, branch_number, avg_net_price_public, avg_net_price_private, avg_net_price_program, avg_net_price_other, title_IV_student_number, full_time_net_tuition_revenue, off_campus_cost_of_attendace, on_campus_cost_of_attendace, admission_rate, graduate_number, ACT_score_mid, avg_sat_admitted, required_score, avg_faculty_salary, online_only, comp_rt_ft_150over_expected_time, comp_rt_ft_150over_expected_time_two_races, comp_rt_ft_150over_expected_time_native_american, comp_rt_ft_150over_expected_time_asian, comp_rt_ft_150over_expected_time_black, comp_rt_ft_150over_expected_time_hispanic, comp_rt_ft_150over_expected_time_non_resident, comp_rt_ft_150over_expected_time_unknown_race, comp_rt_ft_150over_expected_time_white, share_entering_students_first_ft, share_of_part_time, first_time_ft_student_retention, first_time_pt_student_retention, enrollment_share_two_races, enrollment_share_native_american, enrollment_share_asian, enrollment_share_black, enrollment_share_hispanic, enrollment_share_pac_islander, enrollment_share_non_resident, enrollment_share_unknown, enrollment_share_white, undergraduate_number_pell_grant_fedral_loan, median_loan_repayment, med_debt_pell_students, median_debt_0_30000, median_debt_30001_75000, median_debt_75001+, median_debt_completed, not_completed_med_debt, median_debt_male, median_debt_female, median_debt_independent, median_debt_first_generation, median_debt_non_first_generation, median_debt_non_pell, fedral_loan_full_time_first_time_undergraduate, pell_grant_full_time_first_time_undergraduate, med_parent_and_pell, avg_parent_and_pell, med_stafford_and_pell, avg_stafford_and_pell, med_parent_and_loan, avg_parent_and_loan, med_stafford_and_debt, avg_stafford_and_debt, med_stafford_and_grad_debt, med_stafford_and_no_pell_recipients, avg_stafford_and_no_pell_recipients, med_monthly_payment_parent_and_debt, deg_percent_awarded_agriculture_operations, deg_percent_awarded_natural_resources, deg_percent_awarded_architecture, deg_percent_awarded_area_ethnic_cultural_gender, deg_percent_awarded_communication_journalism, deg_percent_awarded_communication_tech, deg_percent_awarded_computer_science, deg_percent_awarded_personal_culinary_services, deg_percent_awarded_education, deg_percent_awarded_engineering, deg_percent_awarded_engineering_tech, deg_percent_awarded_foreign_language_literatures, deg_percent_awarded_human_science, deg_percent_awarded_legal_profession, deg_percent_awarded_english_lang, deg_percent_awarded_general_studies, deg_percent_awarded_library_sciences, deg_percent_awarded_bio_sciences, deg_percent_awarded_history, deg_percent_awarded_military_tech, ...]
Index: []

[0 rows x 125 columns]

In [34]:
us.head()

  state_post_code       city                  lat                  lng
0              NY   New York                40.69               -73.92
1              NY   Brooklyn                40.65               -73.95
2              NY     Queens                40.75               -73.80
3              NY  Manhattan                40.78               -73.97
4              NY      Bronx                40.85               -73.87

In [35]:
df.shape

(71422, 125)

In [62]:
df1 = pd.merge(df, us, how = 'left', on = ('state_post_code','city'))
df1.shape

(71677, 127)

In [63]:
df.city.isnull().sum()

2876

In [64]:
df.state_post_code.isnull().sum()

2876

In [44]:
# check if there is any duplicate for state and city
us_count = us.groupby(['state_post_code','city']).value_counts()

In [45]:
us_count.to_csv('us_count.csv')

In [54]:
us_count = pd.read_csv('us_count.csv')
us_count.head()

,state_post_code,city,lat,lng,count
0,AK,Anchorage,61.15,-149.11,1
1,AK,Badger,64.80,-147.39,1
2,AK,Bethel,60.79,-161.79,1
3,AK,Chena Ridge,64.79,-148.04,1
4,AK,College,64.87,-147.82,1

In [55]:
us_count.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7824 entries, 0 to 7823
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   state_post_code  7824 non-null   object
 1   city             7824 non-null   object
 2   lat              7824 non-null   float64
 3   lng              7824 non-null   float64
 4   count            7824 non-null   int64
dtypes: float64(2), int64(1), object(2)
memory usage: 305.8+ KB

In [58]:
us_count['count'].value_counts()

1    7824
Name: count, dtype: int64

# check the null value

In [140]:
df = pd.read_csv('merged_df_with_avg_price.csv',index_col=[0])
df.head()

,unit_id_institution,college_name,institution_control,state_post_code,zip_code,city,region_ipeds,title_IV_eligibility,pred_degree,pred_degree_0and4,...,deg_percent_awarded_health,deg_percent_awarded_business_management,deg_percent_awarded_history.1,non_deg_seeking,major_category,2017,2018,2019,Grand Total,avg_net_price
0,"100,654.00",Alabama A & M University,Public,AL,35762,Normal,5.00,1.00,3.00,3.00,...,0.00,0.16,0.00,153.00,Agriculture,"57,605.69","55,517.87","61,388.93","174,512.49","14,444.00"
1,"100,654.00",Alabama A & M University,Public,AL,35762,Normal,5.00,1.00,3.00,3.00,...,0.00,0.16,0.00,153.00,Agriculture,"57,605.69","55,517.87","61,388.93","174,512.49","14,444.00"
2,"100,858.00",Auburn University,Public,AL,36849,Auburn,5.00,1.00,3.00,3.00,...,0.06,0.23,0.01,481.00,Agriculture,"57,605.69","55,517.87","61,388.93","174,512.49","23,696.00"
3,"100,858.00",Auburn University,Public,AL,36849,Auburn,5.00,1.00,3.00,3.00,...,0.06,0.23,0.01,481.00,Agriculture,"57,605.69","55,517.87","61,388.93","174,512.49","23,696.00"
4,"101,541.00",Judson College,"Private, nonprofit",AL,36756,Marion,5.00,1.00,3.00,3.00,...,0.24,0.10,0.04,9.00,Agriculture,"57,605.69","55,517.87","61,388.93","174,512.49","16,619.00"

In [80]:
def nulls_by_col(df):
    num_missing = df.isnull().sum()
    rows = df.shape[0]
    prcnt_miss = num_missing / rows * 100
    cols_missing = pd.DataFrame({'num_rows_missing': num_missing, 'percent_rows_missing': prcnt_miss})    
    return cols_missing.sort_values(by='num_rows_missing', ascending=False)

In [82]:
missing_value_sep21 = nulls_by_col(df)
missing_value_sep21.head()

                                     num_rows_missing  percent_rows_missing
avg_net_price_program                           71422                100.00
avg_net_price_other                             71422                100.00
med_parent_and_pell                             69279                 97.00
avg_parent_and_pell                             67600                 94.65
med_monthly_payment_parent_and_debt             63941                 89.53

In [84]:
missing_value_sep21.to_csv('missing_value_sep21.csv')

In [ ]:
cols = ['avg_net_price_program','avg_net_price_other']

In [ ]:
# group 1 invesgation = 2876 missing at the same time
'''
    online_only
    pred_degree
    branch_number
    title_IV_eligibility
    region_ipeds
    zip_code
    state_post_code
    city
'''

In [26]:
group1 = df[df.city.isnull()]

In [27]:
group1.online_only.value_counts()

Series([], Name: online_only, dtype: int64)

In [106]:
nulls_by_col(group1).tail(50)

,num_rows_missing,percent_rows_missing
city,2876,100.00
zip_code,2876,100.00
state_post_code,2876,100.00
non_deg_seeking,2876,100.00
online_only,2876,100.00
comp_rt_ft_150over_expected_time,2876,100.00
comp_rt_ft_150over_expected_time_asian,2876,100.00
comp_rt_ft_150over_expected_time_black,2876,100.00
enrollment_share_black,2876,100.00
enrollment_share_asian,2876,100.00
enrollment_share_native_american,2876,100.00
enrollment_share_two_races,2876,100.00
first_time_pt_student_retention,2876,100.00
first_time_ft_student_retention,2876,100.00
share_of_part_time,2876,100.00
share_entering_students_first_ft,2876,100.00
comp_rt_ft_150over_expected_time_white,2876,100.00
comp_rt_ft_150over_expected_time_unknown_race,2876,100.00
comp_rt_ft_150over_expected_time_non_resident,2876,100.00
comp_rt_ft_150over_expected_time_hispanic,2876,100.00
deg_percent_awarded_social_sciences,2876,100.00
comp_rt_ft_150over_expected_time_native_american,2876,100.00
comp_rt_ft_150over_expected_time_two_races,2876,100.00
med_parent_and_pell,2853,99.20
avg_parent_and_pell,2816,97.91
med_parent_and_loan,2776,96.52
med_monthly_payment_parent_and_debt,2776,96.52
med_stafford_and_pell,2730,94.92
med_stafford_and_no_pell_recipients,2730,94.92
avg_stafford_and_no_pell_recipients,2729,94.89
avg_parent_and_loan,2705,94.05
avg_stafford_and_pell,2659,92.45
avg_stafford_and_debt,2484,86.37
med_stafford_and_debt,2469,85.85
med_stafford_and_grad_debt,2469,85.85
unit_id_institution,2215,77.02
college_name,0,0.00
avg_net_price_private,0,0.00
avg_net_price_public,0,0.00
major_name,0,0.00
major_code,0,0.00
degree_code,0,0.00
degree_name,0,0.00
institution_control,0,0.00
major_category,0,0.00
2017,0,0.00
2018,0,0.00
2019,0,0.00
Grand Total,0,0.00
avg_net_price,0,0.00

In [100]:
cols = ['institution_control','Grand Total','avg_net_price','college_name','major_name']
group1.institution_control.value_counts()

Foreign                1741
Private, for-profit     777
Private, nonprofit      352
Public                    6
Name: institution_control, dtype: int64

In [101]:
group1['Grand Total'].sum()

535692705.3079

In [102]:
group1['avg_net_price'].sum()

0.0

In [118]:
group1.non_deg_seeking.isnull().sum()

2876

## drop group1 rows and column ('avg_net_price_program','avg_net_price_other')

In [119]:
df.shape

(71422, 125)

In [141]:
cols = ['avg_net_price_program','avg_net_price_other']
df1 = df.drop(columns = cols)
df1.shape

(71422, 123)

In [142]:
df1 = df1.dropna(subset=['city'])
df1.shape

(68546, 123)

In [122]:
71422 - 68546

2876

In [124]:
nulls_by_col(df1).head(60)

,num_rows_missing,percent_rows_missing
med_parent_and_pell,66426,96.91
avg_parent_and_pell,64784,94.51
med_monthly_payment_parent_and_debt,61165,89.23
med_parent_and_loan,61165,89.23
avg_parent_and_loan,59167,86.32
avg_stafford_and_no_pell_recipients,58618,85.52
avg_stafford_and_pell,58535,85.40
med_stafford_and_pell,57159,83.39
med_stafford_and_no_pell_recipients,57159,83.39
avg_stafford_and_debt,49549,72.29
med_stafford_and_grad_debt,41855,61.06
med_stafford_and_debt,41855,61.06
title_IV_student_number,30461,44.44
first_time_pt_student_retention,21332,31.12
comp_rt_ft_150over_expected_time_native_american,17335,25.29
ACT_score_mid,16550,24.14
avg_sat_admitted,15796,23.04
comp_rt_ft_150over_expected_time_unknown_race,11006,16.06
comp_rt_ft_150over_expected_time_non_resident,10381,15.14
graduate_number,9306,13.58
comp_rt_ft_150over_expected_time_two_races,8887,12.97
comp_rt_ft_150over_expected_time_asian,8452,12.33
admission_rate,7173,10.46
on_campus_cost_of_attendace,7142,10.42
required_score,7130,10.40
median_debt_independent,5695,8.31
non_deg_seeking,5151,7.51
comp_rt_ft_150over_expected_time_black,3458,5.04
comp_rt_ft_150over_expected_time_hispanic,3227,4.71
off_campus_cost_of_attendace,3034,4.43
comp_rt_ft_150over_expected_time_white,2796,4.08
first_time_ft_student_retention,2508,3.66
median_debt_female,1912,2.79
median_debt_male,1912,2.79
median_debt_30001_75000,1695,2.47
median_debt_75001+,1687,2.46
comp_rt_ft_150over_expected_time,1503,2.19
share_entering_students_first_ft,1441,2.10
fedral_loan_full_time_first_time_undergraduate,1375,2.01
pell_grant_full_time_first_time_undergraduate,1375,2.01
median_debt_non_pell,1350,1.97
med_debt_pell_students,1350,1.97
median_debt_0_30000,1135,1.66
median_debt_non_first_generation,1105,1.61
median_debt_first_generation,1105,1.61
median_debt_completed,1005,1.47
not_completed_med_debt,956,1.39
avg_faculty_salary,808,1.18
median_loan_repayment,773,1.13
pred_degree_0and4,322,0.47
undergraduate_number_pell_grant_fedral_loan,138,0.20
share_of_part_time,70,0.10
enrollment_share_hispanic,43,0.06
enrollment_share_native_american,43,0.06
enrollment_share_pac_islander,43,0.06
enrollment_share_two_races,43,0.06
enrollment_share_asian,43,0.06
enrollment_share_black,43,0.06
enrollment_share_white,43,0.06
enrollment_share_unknown,43,0.06

## merge the location data after delete group 1

In [143]:
df1.shape

(68546, 123)

In [127]:
us.head()

  state_post_code       city                  lat                  lng
0              NY   New York                40.69               -73.92
1              NY   Brooklyn                40.65               -73.95
2              NY     Queens                40.75               -73.80
3              NY  Manhattan                40.78               -73.97
4              NY      Bronx                40.85               -73.87

In [136]:
us['state_city'] = us.state_post_code + ', ' + us.city
us.head()

,state_post_code,city,lat,lng,state_city
0,NY,New York,40.69,-73.92,"NY, New York"
1,NY,Brooklyn,40.65,-73.95,"NY, Brooklyn"
2,NY,Queens,40.75,-73.80,"NY, Queens"
3,NY,Manhattan,40.78,-73.97,"NY, Manhattan"
4,NY,Bronx,40.85,-73.87,"NY, Bronx"

In [138]:
cols = ['state_post_code','city']
us = us.drop(columns = cols)
us.head()

                   lat                  lng     state_city
0                40.69               -73.92   NY, New York
1                40.65               -73.95   NY, Brooklyn
2                40.75               -73.80     NY, Queens
3                40.78               -73.97  NY, Manhattan
4                40.85               -73.87      NY, Bronx

In [145]:
df1['state_city'] = df1.state_post_code + ', ' + df1.city

In [146]:
df2 = pd.merge(df1, us, how = 'left', on = ('state_city'))
df2.shape

(68801, 126)

In [147]:
df2.city.isnull().sum()

0

In [148]:
df2.state_post_code.isnull().sum()

0

In [149]:
68801 - 68546

255