# Capstone Project Working Notebook: David

In [1]:
import pandas as pd
import numpy as np

import csv

In [2]:
def get_mass_majors_df():
    '''Function to initially pull and merge the two (2) needed
    College Scorecard tables for period 2018-2019.'''
    filename_01 = "~/codeup/external_data_tap/data_capstone_project/FieldOfStudyData1718_1819_PP.csv"
    filename_02 = "~/codeup/external_data_tap/data_capstone_project/MERGED2018_19_PP.csv"
    df_parent = pd.read_csv(filename_01)
    df_child = pd.read_csv(filename_02, low_memory=False)
    df_parent["UNITID"] = df_parent["UNITID"].astype("Int64", errors='ignore')
    df_child["UNITID"] = df_child["UNITID"].astype("Int64", errors='ignore')
    df = df_parent.merge(
    df_child,
    how = "left",
    on = "UNITID",
    copy = False
    )
    print(f'dataframe shape: {df.shape}')
    return df

In [3]:
df = get_mass_majors_df()

dataframe shape: (224849, 3109)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 224849 entries, 0 to 224848
Columns: 3109 entries, UNITID to MD_EARN_WNE_MALE1_P10
dtypes: Int64(1), float64(1687), int64(4), object(1417)
memory usage: 5.2+ GB

In [5]:
df.head()

,UNITID,OPEID6_x,INSTNM_x,CONTROL_x,MAIN_x,CIPCODE,CIPDESC,CREDLEV,CREDDESC,IPEDSCOUNT1,...,COUNT_WNE_MALE1_P8,MD_EARN_WNE_MALE1_P8,GT_THRESHOLD_P10,MD_EARN_WNE_INC1_P10,MD_EARN_WNE_INC2_P10,MD_EARN_WNE_INC3_P10,MD_EARN_WNE_INDEP1_P10,MD_EARN_WNE_INDEP0_P10,MD_EARN_WNE_MALE0_P10,MD_EARN_WNE_MALE1_P10
0,100654,1002,Alabama A & M University,Public,1,100,"Agriculture, General.",3,Bachelors Degree,NaN,...,834.0,36639.0,0.6044,34076.0,35597.0,43145.0,40299.0,35424.0,36050.0,36377.0
1,100654,1002,Alabama A & M University,Public,1,109,Animal Sciences.,3,Bachelors Degree,5.0,...,834.0,36639.0,0.6044,34076.0,35597.0,43145.0,40299.0,35424.0,36050.0,36377.0
2,100654,1002,Alabama A & M University,Public,1,110,Food Science and Technology.,3,Bachelors Degree,9.0,...,834.0,36639.0,0.6044,34076.0,35597.0,43145.0,40299.0,35424.0,36050.0,36377.0
3,100654,1002,Alabama A & M University,Public,1,110,Food Science and Technology.,5,Master's Degree,5.0,...,834.0,36639.0,0.6044,34076.0,35597.0,43145.0,40299.0,35424.0,36050.0,36377.0
4,100654,1002,Alabama A & M University,Public,1,110,Food Science and Technology.,6,Doctoral Degree,1.0,...,834.0,36639.0,0.6044,34076.0,35597.0,43145.0,40299.0,35424.0,36050.0,36377.0

In [6]:
df.NPT4_PUB.value_counts()

30996.0    521
22682.0    453
17479.0    442
28758.0    428
11644.0    415
          ...
29652.0      1
16054.0      1
10604.0      1
5533.0       1
15476.0      1
Name: NPT4_PUB, Length: 1784, dtype: int64