# Capstone Project Working Notebook: David

In [1]:
# regular imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
import math

# default pandas decimal number display format
pd.options.display.float_format = '{:20,.2f}'.format

import warnings
warnings.filterwarnings("ignore")

# Wrangling
from sklearn.model_selection import train_test_split, learning_curve
from sklearn.feature_selection import SelectKBest, RFE, f_regression, SequentialFeatureSelector
from sklearn.linear_model import LinearRegression, LassoLars, TweedieRegressor
from sklearn.cluster import KMeans
from scipy import stats
import sklearn.preprocessing
from sklearn.metrics import mean_squared_error
from scipy.stats import pearsonr, spearmanr, kruskal

import csv
import ds_acquire
import ds_prepare

In [2]:
df = ds_acquire.get_bach_df()
df = ds_prepare.clean_col_names(df)
df = ds_prepare.clean_bach_df(df)

dataframe shape: (71901, 115)
modified df shape: (71901, 100)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 71901 entries, 0 to 224838
Data columns (total 100 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   unit_id_institution                               69674 non-null  Int32
 1   college_name                                      71901 non-null  object
 2   state_post_code                                   69012 non-null  object
 3   zip_code                                          69012 non-null  object
 4   city                                              69012 non-null  object
 5   region_ipeds                                      69012 non-null  float64
 6   title_IV_eligibility                              69012 non-null  float64
 7   pred_degree                                       69012 non-null  float64
 8   pred_degree_0and4                                 68685 non-null  float64
 9   degree_name                                       71901 non-null  object
 10  degree_code                                       71901 non-null  int64
 11  major_code                                        71901 non-null  int64
 12  major_name                                        71901 non-null  object
 13  branch_number                                     69012 non-null  float64
 14  avg_net_price_private                             38216 non-null  float64
 15  title_IV_student_number                           38216 non-null  float64
 16  admission_rate                                    61801 non-null  float64
 17  graduate_number                                   59645 non-null  float64
 18  ACT_score_mid                                     52374 non-null  float64
 19  avg_sat_admitted                                  53133 non-null  float64
 20  required_score                                    61844 non-null  float64
 21  avg_faculty_salary                                68201 non-null  float64
 22  online_only                                       69012 non-null  float64
 23  comp_rt_ft_150over_expected_time                  67502 non-null  float64
 24  comp_rt_ft_150over_expected_time_two_races        60085 non-null  float64
 25  comp_rt_ft_150over_expected_time_native_american  51606 non-null  float64
 26  comp_rt_ft_150over_expected_time_asian            60527 non-null  float64
 27  comp_rt_ft_150over_expected_time_black            65537 non-null  float64
 28  comp_rt_ft_150over_expected_time_hispanic         65774 non-null  float64
 29  comp_rt_ft_150over_expected_time_non_resident     58580 non-null  float64
 30  comp_rt_ft_150over_expected_time_unknown_race     57965 non-null  float64
 31  comp_rt_ft_150over_expected_time_white            66204 non-null  float64
 32  share_entering_students_first_ft                  67569 non-null  float64
 33  share_of_part_time                                68941 non-null  float64
 34  first_time_ft_student_retention                   66496 non-null  float64
 35  first_time_pt_student_retention                   47603 non-null  float64
 36  enrollment_share_two_races                        68969 non-null  float64
 37  enrollment_share_native_american                  68969 non-null  float64
 38  enrollment_share_asian                            68969 non-null  float64
 39  enrollment_share_black                            68969 non-null  float64
 40  enrollment_share_hispanic                         68969 non-null  float64
 41  enrollment_share_pac_islander                     68969 non-null  float64
 42  enrollment_share_non_resident                     68969 non-null  float64
 43  enrollment_share_unknown                          68969 non-null  float64
 44  enrollment_share_white                            68969 non-null  float64
 45  undergraduate_number_pell_grant_fedral_loan       68870 non-null  float64
 46  median_loan_repayment                             68231 non-null  object
 47  med_debt_pell_students                            67647 non-null  object
 48  median_debt_0_30000                               67864 non-null  object
 49  median_debt_30001_75000                           67302 non-null  object
 50  median_debt_75001+                                67309 non-null  object
 51  median_debt_completed                             67998 non-null  object
 52  not_completed_med_debt                            68046 non-null  object
 53  median_debt_male                                  67086 non-null  object
 54  median_debt_female                                67086 non-null  object
 55  median_debt_independent                           63295 non-null  object
 56  median_debt_first_generation                      67897 non-null  object
 57  median_debt_non_first_generation                  67897 non-null  object
 58  median_debt_non_pell                              67647 non-null  object
 59  fedral_loan_full_time_first_time_undergraduate    67631 non-null  float64
 60  pell_grant_full_time_first_time_undergraduate     67631 non-null  float64
 61  deg_percent_awarded_agriculture_operations        69003 non-null  float64
 62  deg_percent_awarded_natural_resources             69003 non-null  float64
 63  deg_percent_awarded_architecture                  69003 non-null  float64
 64  deg_percent_awarded_area_ethnic_cultural_gender   69003 non-null  float64
 65  deg_percent_awarded_communication_journalism      69003 non-null  float64
 66  deg_percent_awarded_communication_tech            69003 non-null  float64
 67  deg_percent_awarded_computer_science              69003 non-null  float64
 68  deg_percent_awarded_personal_culinary_services    69003 non-null  float64
 69  deg_percent_awarded_education                     69003 non-null  float64
 70  deg_percent_awarded_engineering                   69003 non-null  float64
 71  deg_percent_awarded_engineering_tech              69003 non-null  float64
 72  deg_percent_awarded_foreign_language_literatures  69003 non-null  float64
 73  deg_percent_awarded_human_science                 69003 non-null  float64
 74  deg_percent_awarded_legal_profession              69003 non-null  float64
 75  deg_percent_awarded_english_lang                  69003 non-null  float64
 76  deg_percent_awarded_general_studies               69003 non-null  float64
 77  deg_percent_awarded_library_sciences              69003 non-null  float64
 78  deg_percent_awarded_bio_sciences                  69003 non-null  float64
 79  deg_percent_awarded_history                       69003 non-null  float64
 80  deg_percent_awarded_military_tech                 69003 non-null  float64
 81  deg_percent_awarded_intedisciplinary_studies      69003 non-null  float64
 82  deg_percent_awarded_leisure_fitness               69003 non-null  float64
 83  deg_percent_awarded_philosophy                    69003 non-null  float64
 84  deg_percent_awarded_theology                      69003 non-null  float64
 85  deg_percent_awarded_physical_sciences             69003 non-null  float64
 86  deg_percent_awarded_science_tech                  69003 non-null  float64
 87  deg_percent_awarded_psychology                    69003 non-null  float64
 88  deg_percent_awarded_homeland_security             69003 non-null  float64
 89  deg_percent_awarded_public_admin                  69003 non-null  float64
 90  deg_percent_awarded_social_sciences               69003 non-null  float64
 91  deg_percent_awarded_construction_trades           69003 non-null  float64
 92  deg_percent_awarded_mechanic_repair               69003 non-null  float64
 93  deg_percent_awarded_precision_production          69003 non-null  float64
 94  deg_percent_awarded_transportation_materials      69003 non-null  float64
 95  deg_percent_awarded_visual_and_performing_arts    69003 non-null  float64
 96  deg_percent_awarded_health                        69003 non-null  float64
 97  deg_percent_awarded_business_management           69003 non-null  float64
 98  deg_percent_awarded_history                       69003 non-null  float64
 99  non_deg_seeking                                   63836 non-null  float64
dtypes: Int32(1), float64(78), int64(2), object(19)
memory usage: 55.2+ MB

In [15]:
df.major_name.value_counts()

Business Administration, Management and Operations.           1870
Psychology, General.                                          1565
Biology, General.                                             1468
Liberal Arts and Sciences, General Studies and Humanities.    1434
English Language and Literature, General.                     1409
                                                              ...
Construction Trades, Other.                                      1
Podiatric Medicine/Podiatry.                                     1
Physics and Astronomy.                                           1
Advanced/Graduate Dentistry and Oral Sciences.                   1
Social Psychology.                                               1
Name: major_name, Length: 375, dtype: int64

In [8]:
df.state_post_code.value_counts()

NY    4829
PA    4709
CA    4195
OH    3616
TX    3456
IL    2524
MA    2346
FL    2253
MI    2233
IN    2068
NC    1986
MO    1907
GA    1671
TN    1644
WI    1630
VA    1622
MN    1616
IA    1387
NJ    1202
SC    1177
WA    1164
CT    1152
KS    1099
KY    1072
OK    1071
AL    1057
PR     963
MD     961
OR     875
LA     859
CO     858
AR     814
NE     775
AZ     733
UT     702
WV     644
MS     584
ME     556
VT     537
NH     509
SD     486
ID     466
RI     435
DC     417
ND     398
NM     374
MT     335
HI     262
NV     249
DE     236
AK     153
WY      71
GU      37
VI      28
MP       6
AS       1
FM       1
MH       1
Name: state_post_code, dtype: int64

In [5]:
df.shape

(71901, 100)

In [5]:
df.head()

,Unnamed: 0,ACT_score_mid,admission_rate,required_score,avg_faculty_salary,comp_rt_ft_150over_expected_time_two_races,comp_rt_ft_150over_expected_time_native_american,comp_rt_ft_150over_expected_time_asian,comp_rt_ft_150over_expected_time_black,comp_rt_ft_150over_expected_time_hispanic,...,enrollment_share_black,enrollment_share_hispanic,enrollment_share_pac_islander,enrollment_share_non_resident,enrollment_share_unknown,enrollment_share_white,non_deg_seeking,unit_id_institution,not_completed_med_debt,zip_code
0,0,18.00,0.90,1.00,"7,101.00",0.25,NaN,NaN,0.27,0.25,...,0.91,0.01,0.00,0.01,0.04,0.02,153.00,"100,654.00",10250,35762
1,1,18.00,0.90,1.00,"7,101.00",0.25,NaN,NaN,0.27,0.25,...,0.91,0.01,0.00,0.01,0.04,0.02,153.00,"100,654.00",10250,35762
2,2,18.00,0.90,1.00,"7,101.00",0.25,NaN,NaN,0.27,0.25,...,0.91,0.01,0.00,0.01,0.04,0.02,153.00,"100,654.00",10250,35762
3,5,18.00,0.90,1.00,"7,101.00",0.25,NaN,NaN,0.27,0.25,...,0.91,0.01,0.00,0.01,0.04,0.02,153.00,"100,654.00",10250,35762
4,6,18.00,0.90,1.00,"7,101.00",0.25,NaN,NaN,0.27,0.25,...,0.91,0.01,0.00,0.01,0.04,0.02,153.00,"100,654.00",10250,35762

In [6]:
df.EARN_NE_MDN_3YR.value_counts()

AttributeError: 'DataFrame' object has no attribute 'EARN_NE_MDN_3YR'

In [ ]:
df.NPT4_PUB.value_counts()

30,996.00    521
22,682.00    453
17,479.00    442
28,758.00    428
11,644.00    415
            ...
29,652.00      1
16,054.00      1
10,604.00      1
 5,533.00      1
15,476.00      1
Name: NPT4_PUB, Length: 1784, dtype: int64

In [ ]:
df.head()

,Unnamed: 0,UNITID,OPEID6_x,INSTNM_x,CONTROL_x,MAIN_x,CIPCODE,CIPDESC,CREDLEV,CREDDESC,...,COUNT_WNE_MALE1_P8,MD_EARN_WNE_MALE1_P8,GT_THRESHOLD_P10,MD_EARN_WNE_INC1_P10,MD_EARN_WNE_INC2_P10,MD_EARN_WNE_INC3_P10,MD_EARN_WNE_INDEP1_P10,MD_EARN_WNE_INDEP0_P10,MD_EARN_WNE_MALE0_P10,MD_EARN_WNE_MALE1_P10
0,0,"100,654.00",1002,Alabama A & M University,Public,1,100,"Agriculture, General.",3,Bachelors Degree,...,834.00,"36,639.00",0.60,"34,076.00","35,597.00","43,145.00","40,299.00","35,424.00","36,050.00","36,377.00"
1,1,"100,654.00",1002,Alabama A & M University,Public,1,109,Animal Sciences.,3,Bachelors Degree,...,834.00,"36,639.00",0.60,"34,076.00","35,597.00","43,145.00","40,299.00","35,424.00","36,050.00","36,377.00"
2,2,"100,654.00",1002,Alabama A & M University,Public,1,110,Food Science and Technology.,3,Bachelors Degree,...,834.00,"36,639.00",0.60,"34,076.00","35,597.00","43,145.00","40,299.00","35,424.00","36,050.00","36,377.00"
3,3,"100,654.00",1002,Alabama A & M University,Public,1,110,Food Science and Technology.,5,Master's Degree,...,834.00,"36,639.00",0.60,"34,076.00","35,597.00","43,145.00","40,299.00","35,424.00","36,050.00","36,377.00"
4,4,"100,654.00",1002,Alabama A & M University,Public,1,110,Food Science and Technology.,6,Doctoral Degree,...,834.00,"36,639.00",0.60,"34,076.00","35,597.00","43,145.00","40,299.00","35,424.00","36,050.00","36,377.00"

In [ ]:
# Breaking main df into simplified dfs by functionality
roi_df = initial_prepare.roi_df(df)
general_df = initial_prepare.general_df(df)
loan_df = initial_prepare.loan_df(df)

KeyError: ('MD_EARN_1YR', 'MD_EARN_2YR', 'MD_EARN_3YR', 'NPT4_PUB', 'NPT4_PRIV', 'NPT4_PROG', 'NPT4_OTHER', 'COSTT4_A', 'COSTT4_P', 'TUITIONFEE_IN', 'TUITIONFEE_OUT', 'PCTPELL', 'PCTFLOAN', 'BOOKSUPPLY', 'ROOMBOARD_ON', 'OTHEREXPENSE_ON', 'ROOMBOARD_OFF', 'OTHEREXPENSE_OFF', 'OTHEREXPENSE_FAM')

In [ ]:
roi_df.shape

(224849, 21)

In [ ]:
roi_df.head()

,UNITID,INSTNM_x,CITY,EARN_MDN_HI_1YR,EARN_MDN_HI_2YR,NPT4_PUB,NPT4_PRIV,NPT4_PROG,NPT4_OTHER,COSTT4_A,...,TUITIONFEE_IN,TUITIONFEE_OUT,PCTPELL,PCTFLOAN,BOOKSUPPLY,ROOMBOARD_ON,OTHEREXPENSE_ON,ROOMBOARD_OFF,OTHEREXPENSE_OFF,OTHEREXPENSE_FAM
0,100654,Alabama A & M University,Normal,PrivacySuppressed,NaN,14444.0,NaN,NaN,NaN,22489.0,...,9744.0,18354.0,0.7067,0.7503,1600.0,9128.0,2990.0,9128.0,2990.0,2990.0
1,100654,Alabama A & M University,Normal,PrivacySuppressed,NaN,14444.0,NaN,NaN,NaN,22489.0,...,9744.0,18354.0,0.7067,0.7503,1600.0,9128.0,2990.0,9128.0,2990.0,2990.0
2,100654,Alabama A & M University,Normal,PrivacySuppressed,NaN,14444.0,NaN,NaN,NaN,22489.0,...,9744.0,18354.0,0.7067,0.7503,1600.0,9128.0,2990.0,9128.0,2990.0,2990.0
3,100654,Alabama A & M University,Normal,PrivacySuppressed,NaN,14444.0,NaN,NaN,NaN,22489.0,...,9744.0,18354.0,0.7067,0.7503,1600.0,9128.0,2990.0,9128.0,2990.0,2990.0
4,100654,Alabama A & M University,Normal,PrivacySuppressed,NaN,14444.0,NaN,NaN,NaN,22489.0,...,9744.0,18354.0,0.7067,0.7503,1600.0,9128.0,2990.0,9128.0,2990.0,2990.0

In [ ]:
roi_df.EARN_MDN_HI_1YR.value_counts()

PrivacySuppressed    170325
36958                    37
25606                    35
28574                    35
42593                    35
                      ...
61481                     1
117773                    1
7704                      1
54765                     1
16994                     1
Name: EARN_MDN_HI_1YR, Length: 32073, dtype: int64

In [ ]:
roi_df.EARN_MDN_HI_2YR.isnull().sum()

224849

In [ ]:
roi_df

,UNITID,INSTNM_x,CITY,EARN_MDN_HI_1YR,EARN_MDN_HI_2YR,NPT4_PUB,NPT4_PRIV,NPT4_PROG,NPT4_OTHER,COSTT4_A,...,TUITIONFEE_IN,TUITIONFEE_OUT,PCTPELL,PCTFLOAN,BOOKSUPPLY,ROOMBOARD_ON,OTHEREXPENSE_ON,ROOMBOARD_OFF,OTHEREXPENSE_OFF,OTHEREXPENSE_FAM
0,100654,Alabama A & M University,Normal,PrivacySuppressed,NaN,14444.0,NaN,NaN,NaN,22489.0,...,9744.0,18354.0,0.7067,0.7503,1600.0,9128.0,2990.0,9128.0,2990.0,2990.0
1,100654,Alabama A & M University,Normal,PrivacySuppressed,NaN,14444.0,NaN,NaN,NaN,22489.0,...,9744.0,18354.0,0.7067,0.7503,1600.0,9128.0,2990.0,9128.0,2990.0,2990.0
2,100654,Alabama A & M University,Normal,PrivacySuppressed,NaN,14444.0,NaN,NaN,NaN,22489.0,...,9744.0,18354.0,0.7067,0.7503,1600.0,9128.0,2990.0,9128.0,2990.0,2990.0
3,100654,Alabama A & M University,Normal,PrivacySuppressed,NaN,14444.0,NaN,NaN,NaN,22489.0,...,9744.0,18354.0,0.7067,0.7503,1600.0,9128.0,2990.0,9128.0,2990.0,2990.0
4,100654,Alabama A & M University,Normal,PrivacySuppressed,NaN,14444.0,NaN,NaN,NaN,22489.0,...,9744.0,18354.0,0.7067,0.7503,1600.0,9128.0,2990.0,9128.0,2990.0,2990.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224844,<NA>,California Southern University,NaN,PrivacySuppressed,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224845,<NA>,California Southern University,NaN,PrivacySuppressed,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224846,<NA>,Zion Massage College,NaN,PrivacySuppressed,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224847,<NA>,Oregon Coast Community College,NaN,PrivacySuppressed,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224848,<NA>,Gather 4 Him Christian College,NaN,PrivacySuppressed,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN