# IPUMS Dataset
#### Preparing annual earnings per major for merging with primary dataset

In [1]:
import pandas as pd
import numpy as np

import csv
import ds_earnings_acquire_prep

In [2]:
ipums_earnings = ds_earnings_acquire_prep.get_earnings_df()

dataframe shape: (115993, 38)

In [3]:
ipums_earnings.shape

(115993, 38)

In [4]:
ipums_earnings.head()

,YEAR,SAMPLE,SERIAL,CBSERIAL,HHWT,CLUSTER,REGION,STATEICP,STATEFIP,COUNTYFIP,...,DEGFIELD2,DEGFIELD2D,EMPSTAT,EMPSTATD,OCC,OCC2010,IND,INDNAICS,LOOKING,INCWAGE
0,2017,201701,23,2017000001707,145.0,2017000000231,32,41,1,0,...,0,0,3,30,0,9920,0,0,1,0
1,2017,201701,39,2017000003311,85.0,2017000000391,32,41,1,0,...,0,0,1,10,3255,3130,7970,6211,3,60000
2,2017,201701,45,2017000003715,99.0,2017000000451,32,41,1,97,...,0,0,1,10,8140,8140,8870,8113,3,60000
3,2017,201701,84,2017000005832,239.0,2017000000841,32,41,1,0,...,0,0,3,30,0,9920,0,0,1,0
4,2017,201701,186,2017000013137,168.0,2017000001861,32,41,1,0,...,0,0,1,10,4520,4520,8990,8121M,1,26000

In [5]:
ipums_earnings.STATEFIP.value_counts()

6     15256
48    10337
36     7400
12     6930
17     4550
42     4140
39     4006
13     3757
37     3655
34     3268
26     3177
51     3130
53     2931
25     2463
4      2451
47     2398
18     2319
8      2272
24     2125
29     2096
27     1976
55     1923
45     1769
1      1636
41     1591
21     1561
22     1555
40     1350
49     1288
9      1180
32     1130
19     1073
5      1018
20      978
28      935
31      682
16      661
54      637
35      621
15      584
33      423
23      370
30      335
44      334
46      284
11      283
38      279
10      248
2       232
50      198
56      198
Name: STATEFIP, dtype: int64

In [6]:
# Creating `state_post_code` col in order to merge with cleaned main df

ipums_earnings['state_post_code'] = ipums_earnings['STATEFIP'].replace({
    1: 'AL',
    2: 'AK',
    3: 'AZ',
    5: 'AR',
    6: 'CA',
    8: 'CO',
    9: 'CT',
    10: 'DE',
    11: 'DC',
    12: 'FL',
    13:	'GA',
    15:	'HI',
    16:	'ID',
    17:	'IL',
    18:	'IN',
    19:	'IA',
    20:	'KS',
    21:	'KY',
    22:	'LA',
    23:	'ME',
    24:	'MD',
    25:	'MA',
    26:	'MI',
    27:	'MN',
    28:	'MS',
    29:	'MO',
    30:	'MT',
    31:	'NE',
    32:	'NV',
    33:	'NH',
    34:	'NJ',
    35:	'NM',
    36:	'NY',
    37:	'NC',
    38:	'ND',
    39:	'OH',
    40:	'OK',
    41:	'OR',
    42:	'PA',
    44:	'RI',
    45:	'SC',
    46:	'SD',
    47:	'TN',
    48:	'TX',
    49:	'UT',
    50:	'VT',
    51:	'VA',
    53:	'WA',
    54:	'WV',
    55:	'WI',
    56:	'WY',
    60:	'AS',
    64:	'FM',
    66:	'GU',
    67:	'JA',
    68:	'MH',
    69:	'MP',
    70:	'PW',
    71:	'MI',
    72:	'PR',
    74:	'UM',
    76:	'NI',
    78:	'VI',
    79:	'WI',
    81:	'BI',
    84:	'HI',
    86:	'JI',
    89:	'KR',
    95:	'PA'
})

In [7]:
ipums_earnings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115993 entries, 0 to 115992
Data columns (total 39 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   YEAR             115993 non-null  int64
 1   SAMPLE           115993 non-null  int64
 2   SERIAL           115993 non-null  int64
 3   CBSERIAL         115993 non-null  int64
 4   HHWT             115993 non-null  float64
 5   CLUSTER          115993 non-null  int64
 6   REGION           115993 non-null  int64
 7   STATEICP         115993 non-null  int64
 8   STATEFIP         115993 non-null  int64
 9   COUNTYFIP        115993 non-null  int64
 10  METRO            115993 non-null  int64
 11  CITY             115993 non-null  int64
 12  STRATA           115993 non-null  int64
 13  GQ               115993 non-null  int64
 14  PERNUM           115993 non-null  int64
 15  PERWT            115993 non-null  float64
 16  SEX              115993 non-null  int64
 17  AGE              115993 non-null  int64
 18  RACE             115993 non-null  int64
 19  RACED            115993 non-null  int64
 20  HISPAN           115993 non-null  int64
 21  HISPAND          115993 non-null  int64
 22  LANGUAGE         115993 non-null  int64
 23  LANGUAGED        115993 non-null  int64
 24  SPEAKENG         115993 non-null  int64
 25  SCHLTYPE         115993 non-null  int64
 26  DEGFIELD         115993 non-null  int64
 27  DEGFIELDD        115993 non-null  int64
 28  DEGFIELD2        115993 non-null  int64
 29  DEGFIELD2D       115993 non-null  int64
 30  EMPSTAT          115993 non-null  int64
 31  EMPSTATD         115993 non-null  int64
 32  OCC              115993 non-null  int64
 33  OCC2010          115993 non-null  int64
 34  IND              115993 non-null  int64
 35  INDNAICS         115993 non-null  object
 36  LOOKING          115993 non-null  int64
 37  INCWAGE          115993 non-null  int64
 38  state_post_code  115993 non-null  object
dtypes: float64(2), int64(35), object(2)
memory usage: 34.5+ MB

In [11]:
ipums_earnings.DEGFIELD.nunique()

38

In [9]:
df_bachelors_earnings = ipums_earnings.loc[ipums_earnings['EDUCD'] == 101]

KeyError: 'EDUCD'

In [ ]:
df_bachelors_earnings.INCWAGE.describe()

count    115993.000000
mean      49756.206685
std       67403.241595
min           0.000000
25%        5100.000000
50%       35000.000000
75%       65000.000000
max      736000.000000
Name: INCWAGE, dtype: float64

In [ ]:
ipums_earnings.DEGFIELDD.value_counts()

0       71492
6203     2690
5200     2196
6200     1853
6107     1738
        ...
2418        6
2411        6
3201        5
5000        4
3801        3
Name: DEGFIELDD, Length: 174, dtype: int64

In [ ]:
df_earnings = ipums_earnings[['YEAR','SEX','AGE','RACE','HISPAN','SPEAKENG','LANGUAGE','EDUC','EDUCD','GRADEATTD','SCHLTYPE','DEGFIELD','DEGFIELDD','INCTOT','INCWAGE','INCEARN']]

In [ ]:
df_earnings.info()

In [ ]:
df_earnings.YEAR.value_counts()

2018    704564
2017    699600
2019    697780
2015    689296
2016    688948
Name: YEAR, dtype: int64

In [ ]:
df_earnings.EDUCD.value_counts()

63     776292
71     711159
101    684978
65     291209
81     265992
114    201964
64     124797
50     120280
61      68561
40      50917
115     43325
30      35978
2       27574
116     26433
26      21985
23      13485
25       5259
22       2993
16       2155
17       1791
15       1145
14        724
11        661
12        531
Name: EDUCD, dtype: int64

In [ ]:
df_bachelors_earnings = df_earnings.loc[df_earnings['EDUCD'] == 101]

In [ ]:
df_bachelors_earnings.head()

,YEAR,SEX,AGE,RACE,HISPAN,SPEAKENG,LANGUAGE,EDUC,EDUCD,GRADEATTD,SCHLTYPE,DEGFIELD,DEGFIELDD,INCTOT,INCWAGE,INCEARN
2,2015,2,25,1,0,3,1,10,101,0,1,52,5200,24900,24900,24900
7,2015,2,27,2,0,3,1,10,101,0,1,19,1901,42000,42000,42000
23,2015,2,22,1,0,3,1,10,101,70,2,36,3600,2000,2000,2000
28,2015,1,32,1,0,3,1,10,101,0,1,62,6201,61000,67000,65500
37,2015,1,27,1,0,3,1,10,101,0,1,21,2105,40000,0,40000

In [ ]:
df_bachelors_earnings = df_bachelors_earnings.drop(columns=['GRADEATTD','EDUC','EDUCD'])

In [ ]:
df_bachelors_earnings.head()

,YEAR,SEX,AGE,RACE,HISPAN,SPEAKENG,LANGUAGE,SCHLTYPE,DEGFIELD,DEGFIELDD,INCTOT,INCWAGE,INCEARN
2,2015,2,25,1,0,3,1,1,52,5200,24900,24900,24900
7,2015,2,27,2,0,3,1,1,19,1901,42000,42000,42000
23,2015,2,22,1,0,3,1,2,36,3600,2000,2000,2000
28,2015,1,32,1,0,3,1,1,62,6201,61000,67000,65500
37,2015,1,27,1,0,3,1,1,21,2105,40000,0,40000

In [ ]:
df_bachelors_earnings.shape

(684978, 13)

In [13]:
ipums_earnings.DEGFIELD.value_counts()

0     71492
62     9186
23     4269
61     3332
24     3257
55     3253
36     2386
52     2366
21     2038
60     1989
19     1984
33     1356
50     1197
53      885
64      805
34      631
54      616
11      539
37      505
41      485
26      447
40      386
29      373
13      370
14      354
48      305
49      300
25      281
15      154
59      123
32       83
20       74
56       73
22       44
35       19
57       17
51       16
38        3
Name: DEGFIELD, dtype: int64

In [14]:
ipums_earnings['INCWAGE'].value_counts()

0         24807
50000      3315
40000      3158
60000      3007
30000      2884
          ...
297000        1
314000        1
284000        1
302000        1
322000        1
Name: INCWAGE, Length: 951, dtype: int64