# IPUMS Dataset
#### Preparing annual earnings per major for merging with primary dataset

In [1]:
import pandas as pd
import numpy as np

import csv
import ds_earnings_acquire_prep

In [2]:
ipums_earnings = ds_earnings_acquire_prep.get_earnings_df()

dataframe shape: (6947306, 39)

In [3]:
ipums_earnings.shape

(6947306, 39)

In [4]:
ipums_earnings.head()

,YEAR,SAMPLE,SERIAL,CBSERIAL,HHWT,CLUSTER,REGION,STATEICP,STATEFIP,COUNTYICP,...,SCHLTYPE,DEGFIELD,DEGFIELDD,EMPSTAT,EMPSTATD,OCC,IND,INCTOT,INCWAGE,INCEARN
0,2015,201501,4,463,36.0,2015000000041,32,41,1,970,...,3,0,0,3,30,0,0,0,0,0
1,2015,201501,6,518,175.0,2015000000061,32,41,1,0,...,1,0,0,1,10,5620,4580,29400,27000,29400
2,2015,201501,6,518,175.0,2015000000061,32,41,1,0,...,1,0,0,3,30,0,0,0,0,0
3,2015,201501,6,518,175.0,2015000000061,32,41,1,0,...,1,0,0,1,10,5620,4270,4400,4400,4400
4,2015,201501,9,717,119.0,2015000000091,32,41,1,810,...,1,62,6203,1,10,430,7970,89500,89000,89000

In [5]:
ipums_earnings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6947306 entries, 0 to 6947305
Data columns (total 39 columns):
 #   Column     Dtype
---  ------     -----
 0   YEAR       int64
 1   SAMPLE     int64
 2   SERIAL     int64
 3   CBSERIAL   int64
 4   HHWT       float64
 5   CLUSTER    int64
 6   REGION     int64
 7   STATEICP   int64
 8   STATEFIP   int64
 9   COUNTYICP  int64
 10  COUNTYFIP  int64
 11  METRO      int64
 12  CITY       int64
 13  STRATA     int64
 14  GQ         int64
 15  PERNUM     int64
 16  PERWT      float64
 17  SEX        int64
 18  AGE        int64
 19  RACE       int64
 20  RACED      int64
 21  HISPAN     int64
 22  HISPAND    int64
 23  LANGUAGE   int64
 24  LANGUAGED  int64
 25  SPEAKENG   int64
 26  RACHSING   int64
 27  EDUC       int64
 28  EDUCD      int64
 29  SCHLTYPE   int64
 30  DEGFIELD   int64
 31  DEGFIELDD  int64
 32  EMPSTAT    int64
 33  EMPSTATD   int64
 34  OCC        int64
 35  IND        int64
 36  INCTOT     int64
 37  INCWAGE    int64
 38  INCEARN    int64
dtypes: float64(2), int64(37)
memory usage: 2.0 GB

In [6]:
ipums_earnings.SCHLTYPE.value_counts()

1    5241853
2    1347728
3     357725
Name: SCHLTYPE, dtype: int64

In [7]:
df_earnings = ipums_earnings[['YEAR','EDUCD','SCHLTYPE','DEGFIELD','INCTOT','INCWAGE','INCEARN','EMPSTAT','STATEFIP','REGION','METRO','SEX','AGE','RACHSING','SPEAKENG','LANGUAGE','DEGFIELDD']]

In [8]:
df_earnings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6947306 entries, 0 to 6947305
Data columns (total 17 columns):
 #   Column     Dtype
---  ------     -----
 0   YEAR       int64
 1   EDUCD      int64
 2   SCHLTYPE   int64
 3   DEGFIELD   int64
 4   INCTOT     int64
 5   INCWAGE    int64
 6   INCEARN    int64
 7   EMPSTAT    int64
 8   STATEFIP   int64
 9   REGION     int64
 10  METRO      int64
 11  SEX        int64
 12  AGE        int64
 13  RACHSING   int64
 14  SPEAKENG   int64
 15  LANGUAGE   int64
 16  DEGFIELDD  int64
dtypes: int64(17)
memory usage: 901.1 MB

In [9]:
df_earnings.DEGFIELD.value_counts()

0     4927893
62     401309
23     176858
24     155427
55     151539
61     150156
36     113721
52     111583
19      96011
60      94575
21      80035
33      62958
50      54086
53      44366
64      39744
41      29599
54      27462
37      26077
34      25535
11      22027
26      20263
40      19414
29      16991
13      16129
14      14441
25      14048
48      13915
49      11086
15       7975
59       5631
56       4504
20       3923
32       3746
22       2194
57        692
35        623
51        619
38        151
Name: DEGFIELD, dtype: int64

In [10]:
df_earnings.STATEFIP.value_counts()

6     885266
48    604861
36    439287
12    398788
17    277637
42    268567
39    250750
13    223548
37    218260
26    204491
34    190945
51    188797
53    165036
25    159122
4     147757
18    144491
47    143215
29    130973
24    130687
8     126902
55    118598
27    112429
45    103661
1      99752
21     96601
22     93493
41     89617
40     81915
9      76369
49     73813
19     66122
5      62588
32     61827
28     61493
20     60956
31     40188
35     39736
54     36515
16     34318
15     30995
33     27908
23     24824
44     22736
30     19535
11     19096
46     18193
10     18036
38     16175
2      15514
50     12812
56     12111
Name: STATEFIP, dtype: int64

In [11]:
# Creating `state_post_code` col in order to merge with cleaned main df

df_earnings['state_post_code'] = df_earnings['STATEFIP'].replace({
    1: 'AL',
    2: 'AK',
    3: 'AZ',
    5: 'AR',
    6: 'CA',
    8: 'CO',
    9: 'CT',
    10: 'DE',
    11: 'DC',
    12: 'FL',
    13:	'GA',
    15:	'HI',
    16:	'ID',
    17:	'IL',
    18:	'IN',
    19:	'IA',
    20:	'KS',
    21:	'KY',
    22:	'LA',
    23:	'ME',
    24:	'MD',
    25:	'MA',
    26:	'MI',
    27:	'MN',
    28:	'MS',
    29:	'MO',
    30:	'MT',
    31:	'NE',
    32:	'NV',
    33:	'NH',
    34:	'NJ',
    35:	'NM',
    36:	'NY',
    37:	'NC',
    38:	'ND',
    39:	'OH',
    40:	'OK',
    41:	'OR',
    42:	'PA',
    44:	'RI',
    45:	'SC',
    46:	'SD',
    47:	'TN',
    48:	'TX',
    49:	'UT',
    50:	'VT',
    51:	'VA',
    53:	'WA',
    54:	'WV',
    55:	'WI',
    56:	'WY',
    60:	'AS',
    64:	'FM',
    66:	'GU',
    67:	'JA',
    68:	'MH',
    69:	'MP',
    70:	'PW',
    71:	'MI',
    72:	'PR',
    74:	'UM',
    76:	'NI',
    78:	'VI',
    79:	'WI',
    81:	'BI',
    84:	'HI',
    86:	'JI',
    89:	'KR',
    95:	'PA'
})

/var/folders/f4/zvhcnx4s015b5glz2c1q5hth0000gn/T/ipykernel_5007/198500171.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_earnings['state_post_code'] = df_earnings['STATEFIP'].replace({

In [12]:
df_earnings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6947306 entries, 0 to 6947305
Data columns (total 18 columns):
 #   Column           Dtype
---  ------           -----
 0   YEAR             int64
 1   EDUCD            int64
 2   SCHLTYPE         int64
 3   DEGFIELD         int64
 4   INCTOT           int64
 5   INCWAGE          int64
 6   INCEARN          int64
 7   EMPSTAT          int64
 8   STATEFIP         int64
 9   REGION           int64
 10  METRO            int64
 11  SEX              int64
 12  AGE              int64
 13  RACHSING         int64
 14  SPEAKENG         int64
 15  LANGUAGE         int64
 16  DEGFIELDD        int64
 17  state_post_code  object
dtypes: int64(17), object(1)
memory usage: 954.1+ MB

In [13]:
df_earnings.DEGFIELD.nunique()

38

In [14]:
df_earnings.YEAR.value_counts()

2018    1399165
2017    1397130
2019    1388021
2015    1384710
2016    1378280
Name: YEAR, dtype: int64

In [15]:
df_bachelors_earnings = df_earnings.loc[df_earnings['EDUCD'] == 101]

In [16]:
df_bachelors_earnings = df_bachelors_earnings.loc[df_bachelors_earnings['YEAR'].isin([2017,2018,2019])]

In [17]:
df_bachelors_earnings.YEAR.value_counts()

2019    277697
2018    270140
2017    264788
Name: YEAR, dtype: int64

In [18]:
df_bachelors_earnings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 812625 entries, 2762990 to 6947303
Data columns (total 18 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   YEAR             812625 non-null  int64
 1   EDUCD            812625 non-null  int64
 2   SCHLTYPE         812625 non-null  int64
 3   DEGFIELD         812625 non-null  int64
 4   INCTOT           812625 non-null  int64
 5   INCWAGE          812625 non-null  int64
 6   INCEARN          812625 non-null  int64
 7   EMPSTAT          812625 non-null  int64
 8   STATEFIP         812625 non-null  int64
 9   REGION           812625 non-null  int64
 10  METRO            812625 non-null  int64
 11  SEX              812625 non-null  int64
 12  AGE              812625 non-null  int64
 13  RACHSING         812625 non-null  int64
 14  SPEAKENG         812625 non-null  int64
 15  LANGUAGE         812625 non-null  int64
 16  DEGFIELDD        812625 non-null  int64
 17  state_post_code  812625 non-null  object
dtypes: int64(17), object(1)
memory usage: 117.8+ MB

In [19]:
df_bachelors_earnings.EMPSTAT.value_counts()

1    698570
3     93586
2     20469
Name: EMPSTAT, dtype: int64

In [20]:
df_bachelors_earnings.EDUCD.value_counts()

101    812625
Name: EDUCD, dtype: int64

In [21]:
df_bachelors_earnings.INCWAGE.value_counts()

0         105163
50000      27334
40000      24503
60000      24038
30000      20148
           ...
370000         1
373000         1
371000         1
460000         1
336000         1
Name: INCWAGE, Length: 1005, dtype: int64

In [22]:
df_bachelors_earnings.INCWAGE.describe()

count    812625.000000
mean      56657.259245
std       66153.855554
min           0.000000
25%       16000.000000
50%       45000.000000
75%       75000.000000
max      736000.000000
Name: INCWAGE, dtype: float64

In [23]:
df_bachelors_earnings.DEGFIELD.value_counts()

62    186939
61     62664
23     58385
24     57873
55     55051
19     47099
60     45448
52     38478
21     35609
36     33479
53     22423
33     22089
50     16716
64     13328
41     13301
34     11172
11     10310
54      9420
37      8450
40      7942
13      7536
29      7512
26      6733
25      6615
14      5495
49      4334
48      4132
15      2802
59      2772
56      2569
20      2231
32      1639
22      1222
57       365
51       339
35       106
38        47
Name: DEGFIELD, dtype: int64

In [24]:
# Creating `major_category` col in order to merge with cleaned main df

df_bachelors_earnings['major_category'] = df_bachelors_earnings['DEGFIELD'].replace({
    00: 'N/A',
    11: 'Agriculture',
    13: 'Environment and Natural Resources',
    14: 'Architecture',
    15: 'Area, Ethnic, and Civilization Studies',
    19: 'Communications',
    20:'Communication Technologies',
    21:'Computer and Information Sciences',
    22:'Cosmetology Services and Culinary Arts',
    23:'Education Administration and Teaching',
    24:'Engineering',
    25:'Engineering Technologies',
    26:'Linguistics and Foreign Languages',
    29:'Family and Consumer Sciences',
    32:'Law',
    33:'English Language, Literature, and Composition',
    34:'Liberal Arts and Humanities',
    35:'Library Science',
    36:'Biology and Life Sciences',
    37:'Mathematics and Statistics',
    38:'Military Technologies',
    40:'Interdisciplinary and Multi-Disciplinary Studies (General)',
    41:'Physical Fitness, Parks, Recreation, and Leisure',
    48:'Philosophy and Religious Studies',
    49:'Theology and Religious Vocations',
    50:'Physical Sciences',
    51:'Nuclear, Industrial Radiology, and Biological Technologies',
    52:'Psychology',
    53:'Criminal Justice and Fire Protection',
    54:'Public Affairs, Policy, and Social Work',
    55:'Social Sciences',
    56:'Construction Services',
    57:'Electrical and Mechanic Repairs and Technologies',
    58:'Precision Production and Industrial Arts',
    59:'Transportation Sciences and Technologies',
    60:'Fine Arts',
    61:'Medical and Health Sciences and Services',
    62:'Business',
    64:'History'
})

In [25]:
df_bachelors_earnings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 812625 entries, 2762990 to 6947303
Data columns (total 19 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   YEAR             812625 non-null  int64
 1   EDUCD            812625 non-null  int64
 2   SCHLTYPE         812625 non-null  int64
 3   DEGFIELD         812625 non-null  int64
 4   INCTOT           812625 non-null  int64
 5   INCWAGE          812625 non-null  int64
 6   INCEARN          812625 non-null  int64
 7   EMPSTAT          812625 non-null  int64
 8   STATEFIP         812625 non-null  int64
 9   REGION           812625 non-null  int64
 10  METRO            812625 non-null  int64
 11  SEX              812625 non-null  int64
 12  AGE              812625 non-null  int64
 13  RACHSING         812625 non-null  int64
 14  SPEAKENG         812625 non-null  int64
 15  LANGUAGE         812625 non-null  int64
 16  DEGFIELDD        812625 non-null  int64
 17  state_post_code  812625 non-null  object
 18  major_category   812625 non-null  object
dtypes: int64(17), object(2)
memory usage: 124.0+ MB

In [26]:
df_bachelors_earnings.major_category.value_counts()

Business                                                      186939
Medical and Health Sciences and Services                       62664
Education Administration and Teaching                          58385
Engineering                                                    57873
Social Sciences                                                55051
Communications                                                 47099
Fine Arts                                                      45448
Psychology                                                     38478
Computer and Information Sciences                              35609
Biology and Life Sciences                                      33479
Criminal Justice and Fire Protection                           22423
English Language, Literature, and Composition                  22089
Physical Sciences                                              16716
History                                                        13328
Physical Fitness, Parks, Recreation, and Leisure               13301
Liberal Arts and Humanities                                    11172
Agriculture                                                    10310
Public Affairs, Policy, and Social Work                         9420
Mathematics and Statistics                                      8450
Interdisciplinary and Multi-Disciplinary Studies (General)      7942
Environment and Natural Resources                               7536
Family and Consumer Sciences                                    7512
Linguistics and Foreign Languages                               6733
Engineering Technologies                                        6615
Architecture                                                    5495
Theology and Religious Vocations                                4334
Philosophy and Religious Studies                                4132
Area, Ethnic, and Civilization Studies                          2802
Transportation Sciences and Technologies                        2772
Construction Services                                           2569
Communication Technologies                                      2231
Law                                                             1639
Cosmetology Services and Culinary Arts                          1222
Electrical and Mechanic Repairs and Technologies                 365
Nuclear, Industrial Radiology, and Biological Technologies       339
Library Science                                                  106
Military Technologies                                             47
Name: major_category, dtype: int64

In [27]:
df_bachelors_earnings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 812625 entries, 2762990 to 6947303
Data columns (total 19 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   YEAR             812625 non-null  int64
 1   EDUCD            812625 non-null  int64
 2   SCHLTYPE         812625 non-null  int64
 3   DEGFIELD         812625 non-null  int64
 4   INCTOT           812625 non-null  int64
 5   INCWAGE          812625 non-null  int64
 6   INCEARN          812625 non-null  int64
 7   EMPSTAT          812625 non-null  int64
 8   STATEFIP         812625 non-null  int64
 9   REGION           812625 non-null  int64
 10  METRO            812625 non-null  int64
 11  SEX              812625 non-null  int64
 12  AGE              812625 non-null  int64
 13  RACHSING         812625 non-null  int64
 14  SPEAKENG         812625 non-null  int64
 15  LANGUAGE         812625 non-null  int64
 16  DEGFIELDD        812625 non-null  int64
 17  state_post_code  812625 non-null  object
 18  major_category   812625 non-null  object
dtypes: int64(17), object(2)
memory usage: 124.0+ MB

In [28]:
df_bachelors_earnings.INCTOT.value_counts()

0         59610
50000     24989
40000     22570
60000     21464
30000     18867
          ...
258800        1
246500        1
118270        1
72380         1
64910         1
Name: INCTOT, Length: 12368, dtype: int64

In [29]:
df_bachelors_earnings.INCEARN.value_counts()

0         78615
50000     27663
40000     24848
60000     24114
30000     20638
          ...
173900        1
154800        1
107900        1
215790        1
45620         1
Name: INCEARN, Length: 3876, dtype: int64

In [30]:
df_bachelors_earnings.INCWAGE.value_counts()

0         105163
50000      27334
40000      24503
60000      24038
30000      20148
           ...
370000         1
373000         1
371000         1
460000         1
336000         1
Name: INCWAGE, Length: 1005, dtype: int64

In [31]:
df_bachelors_earnings = df_bachelors_earnings.loc[df_bachelors_earnings['INCWAGE'] != 0]
df_bachelors_earnings.INCWAGE.value_counts()

50000     27334
40000     24503
60000     24038
30000     20148
100000    17582
          ...
373000        1
299000        1
370000        1
339000        1
336000        1
Name: INCWAGE, Length: 1004, dtype: int64

In [32]:
df_bachelors_earnings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 707462 entries, 2762990 to 6947303
Data columns (total 19 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   YEAR             707462 non-null  int64
 1   EDUCD            707462 non-null  int64
 2   SCHLTYPE         707462 non-null  int64
 3   DEGFIELD         707462 non-null  int64
 4   INCTOT           707462 non-null  int64
 5   INCWAGE          707462 non-null  int64
 6   INCEARN          707462 non-null  int64
 7   EMPSTAT          707462 non-null  int64
 8   STATEFIP         707462 non-null  int64
 9   REGION           707462 non-null  int64
 10  METRO            707462 non-null  int64
 11  SEX              707462 non-null  int64
 12  AGE              707462 non-null  int64
 13  RACHSING         707462 non-null  int64
 14  SPEAKENG         707462 non-null  int64
 15  LANGUAGE         707462 non-null  int64
 16  DEGFIELDD        707462 non-null  int64
 17  state_post_code  707462 non-null  object
 18  major_category   707462 non-null  object
dtypes: int64(17), object(2)
memory usage: 108.0+ MB

In [33]:
df_bachelors_earnings = df_bachelors_earnings.rename(columns = {
    "YEAR": 'earning_year',
    "EDUCD": 'earnings_degree',
    "SCHLTYPE": 'earnings_school_type',
    "DEGFIELD": 'earnings_major',
    "INCTOT": 'earnings_total_pers_income',
    "INCWAGE": 'earnings_wage/salary',
    "INCEARN": 'earnings_total_pers_earned_income',
    "EMPSTATE": 'earnings_employed_status',
    "RACHSING": 'earnings_race',
    "SPEAKENG": 'earnings_speaks_english',
    "DEGFIELDD": 'earnings_specific_degree',
})

In [34]:
df_bachelors_earnings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 707462 entries, 2762990 to 6947303
Data columns (total 19 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   earning_year                       707462 non-null  int64
 1   earnings_degree                    707462 non-null  int64
 2   earnings_school_type               707462 non-null  int64
 3   earnings_major                     707462 non-null  int64
 4   earnings_total_pers_income         707462 non-null  int64
 5   earnings_wage/salary               707462 non-null  int64
 6   earnings_total_pers_earned_income  707462 non-null  int64
 7   EMPSTAT                            707462 non-null  int64
 8   STATEFIP                           707462 non-null  int64
 9   REGION                             707462 non-null  int64
 10  METRO                              707462 non-null  int64
 11  SEX                                707462 non-null  int64
 12  AGE                                707462 non-null  int64
 13  earnings_race                      707462 non-null  int64
 14  earnings_speaks_english            707462 non-null  int64
 15  LANGUAGE                           707462 non-null  int64
 16  earnings_specific_degree           707462 non-null  int64
 17  state_post_code                    707462 non-null  object
 18  major_category                     707462 non-null  object
dtypes: int64(17), object(2)
memory usage: 108.0+ MB

In [43]:
df_bachelors_earnings.major_category.value_counts()

Business                                                      165165
Medical and Health Sciences and Services                       55930
Engineering                                                    52421
Education Administration and Teaching                          50062
Social Sciences                                                48004
Communications                                                 40943
Fine Arts                                                      37403
Psychology                                                     32400
Computer and Information Sciences                              31846
Biology and Life Sciences                                      27940
Criminal Justice and Fire Protection                           20383
English Language, Literature, and Composition                  18432
Physical Sciences                                              14414
Physical Fitness, Parks, Recreation, and Leisure               11726
History                                                        11629
Liberal Arts and Humanities                                     9240
Agriculture                                                     8761
Public Affairs, Policy, and Social Work                         8097
Mathematics and Statistics                                      7360
Environment and Natural Resources                               6830
Interdisciplinary and Multi-Disciplinary Studies (General)      6828
Family and Consumer Sciences                                    6098
Engineering Technologies                                        5956
Linguistics and Foreign Languages                               5408
Architecture                                                    4691
Theology and Religious Vocations                                3604
Philosophy and Religious Studies                                3442
Transportation Sciences and Technologies                        2567
Construction Services                                           2406
Area, Ethnic, and Civilization Studies                          2340
Communication Technologies                                      1940
Law                                                             1391
Cosmetology Services and Culinary Arts                          1057
Electrical and Mechanic Repairs and Technologies                 315
Nuclear, Industrial Radiology, and Biological Technologies       312
Library Science                                                   81
Military Technologies                                             40
Name: major_category, dtype: int64

In [35]:
df_bachelors_earnings.EMPSTAT.value_counts()

1    674834
3     20780
2     11848
Name: EMPSTAT, dtype: int64

In [36]:
df_bachelors_earnings = df_bachelors_earnings.drop(columns = ['REGION','STATEFIP','earnings_total_pers_income','earnings_total_pers_earned_income'])

In [37]:
df_bachelors_earnings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 707462 entries, 2762990 to 6947303
Data columns (total 15 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   earning_year              707462 non-null  int64
 1   earnings_degree           707462 non-null  int64
 2   earnings_school_type      707462 non-null  int64
 3   earnings_major            707462 non-null  int64
 4   earnings_wage/salary      707462 non-null  int64
 5   EMPSTAT                   707462 non-null  int64
 6   METRO                     707462 non-null  int64
 7   SEX                       707462 non-null  int64
 8   AGE                       707462 non-null  int64
 9   earnings_race             707462 non-null  int64
 10  earnings_speaks_english   707462 non-null  int64
 11  LANGUAGE                  707462 non-null  int64
 12  earnings_specific_degree  707462 non-null  int64
 13  state_post_code           707462 non-null  object
 14  major_category            707462 non-null  object
dtypes: int64(13), object(2)
memory usage: 86.4+ MB

In [38]:
df_bachelors_earnings.head()

,earning_year,earnings_degree,earnings_school_type,earnings_major,earnings_wage/salary,EMPSTAT,METRO,SEX,AGE,earnings_race,earnings_speaks_english,LANGUAGE,earnings_specific_degree,state_post_code,major_category
2762990,2017,101,1,61,38500,1,0,2,31,1,3,1,6100,AL,Medical and Health Sciences and Services
2763006,2017,101,1,62,120000,1,4,1,30,2,3,1,6203,AL,Business
2763007,2017,101,1,40,50000,1,4,1,26,2,3,1,4002,AL,Interdisciplinary and Multi-Disciplinary Studi...
2763029,2017,101,1,61,65000,1,4,2,49,1,3,1,6107,AL,Medical and Health Sciences and Services
2763031,2017,101,1,33,42000,1,4,2,34,1,3,1,3301,AL,"English Language, Literature, and Composition"

In [39]:
earnings_df = df_bachelors_earnings

In [40]:
   
# cache the newly created dataframe as a .csv file
earnings_df.to_csv("earnings_df.csv")

# print the df shape
print(f'dataframe shape: {earnings_df.shape}')

dataframe shape: (707462, 15)

In [44]:
df_bachelors_earnings.shape

(707462, 15)

In [ ]:
df_full = df_bachelors_earnings